
.agr10-sec-2 {
    padding: 1em 13rem;
    color: #d4d4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .agr10-sec-2-card {
    width: 60%;
    display: flex;
    flex-direction: row; 
  }
  .agr10-sec-2-title{
    color: #9cf00b;
    font-weight:500;
  }
  .agr10-sec-2-card:nth-child(odd) {
    flex-direction: row; 
    background-color: #000000;
  }
  
  .agr10-sec-2-card:nth-child(even) {
    flex-direction: row-reverse; 
  }
  .agr10-sec-2-card:first-child>.agr10-sec-2-wrapper{
    border-radius: 3em 3em 0% 3em !important;
    transform: translateY(2px);
  }
  .agr10-sec-2-card:last-child>.agr10-sec-2-wrapper{
    border-radius:  0% 3em 3em 3em !important;
    transform: translateY(-2px);
  }
  .agr10-sec-2-card:nth-child(3)>.agr10-sec-2-wrapper{
    transform: scale(1.023);
  }
  .agr10-sec-2-card:nth-child(even)>.agr10-sec-2-wrapper{
    flex-direction: row-reverse; 
    border-radius: 0% 3em 3em 0%;
    
  }  
  .agr10-sec-2-card:nth-child(odd)>.agr10-sec-2-wrapper{
    flex-direction: row; 
    border-radius: 3em 0% 0% 3em;
  }
  .agr10-sec-2-wrapper{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    padding:  .3em;
    text-align: center;
    border: 2px solid #d4d4d4;
  }
  .agr10-sec-2-icon {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .agr10-sec-2-icon svg {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }
  
  .agr10-sec-2-content {
    width: 100%;
    padding: .3em;
    margin: .3em;
  }
  
  .agr10-sec-2-title {
    font-size: var(--fs-m);
  }
  
/* ##################section 3###################  */

.agr10-sec-3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1em 13rem;
    position: relative;
}


.agr10-sec-3 h2{
    font-size: var(--fs-xxl);
    text-align: center;
    text-transform: uppercase;
    width: 70%;
    color: #d4d4d4;
}

.agr10-sec-3-design{
  position: absolute;
 
    height: auto;
    color: #d4d4d4;
}
.agr10-sec-3-design svg{
  width: 2.2em;
  height: 2.2em;
  animation:  rotate 5s linear infinite;
  color: #9cf00b;
}
.agr10-sec-3-design .agr10-sec-3-gear-2{
  animation:  rotate 1s ease-in-out infinite;
}

@keyframes rotate{
  from{
    transform: rotate(0deg) ;
  }
  to{
    transform:  rotate(360deg);
  }
}

/* ############section4 ##############  */
.agr10-sec-4{
  margin: 3em 0em;
  padding: 1em 13rem;
  color: #d4d4d4;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.agr10-sec-4-content{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.agr10-sec-4-content li{
  font-size: var(--fs-xs);
  margin: .3em 0em;
}
.agr10-sec-4-content li svg{
  color: #9cf00b;
  animation: coll 3s linear infinite;
}
@keyframes coll{
  0%{
    color: #9cf00b;
  }
  50%{
    color: #000000;
  }
  100%{
    color: #9cf00b;
  }
}

.agr10-sec-4-content h2{
  font-size: var(--fs-xl);
  color: #9cf00b;
  background: linear-gradient(to top, rgb(0, 116, 20), #9bf00b, #9bf00b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.agr10-sec-4-content p{
  font-size: var(--fs-s);
}
.agr10-sec-4-video{
  width: 40%;
  height: 50%;

  text-align: center;
}
.agr10-sec-4-video video{
  width: 100%;
  object-fit: contain;
    border-radius: 10px;
  object-position: center;
}
/* #################################section5############################ */
.agr10-sec-5 {
  display: flex;
  color: #d4d4d4;
  position: relative;
  height: 300vh;
  padding: 1em 13rem;
  justify-content: center;
}


.agr10-sec-5-aside {
  position: sticky;
  top: 30%;
  margin-right: 20px;
  height: min-content;
}

.agr10-sec-5-aside-title {
  writing-mode: vertical-rl; 
  /* text-orientation: upright; */
  font-size: var(--fs-xl);
  transform: rotate(180deg);
  background-color: #9cf00b;
  color: black;
  text-transform: uppercase;
  border-radius: .5em;
  padding: 1em 0em;

}
.agr10-sec-5-cards{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.agr10-sec-5-card{
  display: flex;
  gap: 1em;
  align-items: center;
  width: auto;
}
.agr10-sec-5-image{
  width: 10em;
  border: 1px solid #ffffff6b;
  text-align: center;
  border-radius: 1em;
  
}
.agr10-sec-5-image svg{
  width: 80%;
  height: 100%;
  color: #9cf00b;
}
.agr10-sec-5-content{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.agr10-sec-5-content h4{
  font-size: var(--fs-l);
  margin-right: .5em;
}
.agr10-sec-5-content p{
  font-size: var(--fs-s);
}

/* ####################section6 ######################## */

.agr10-sec-6{
  height: 50vh;
  color: #d4d4d4;
  background-image: url('/assets/demo3.webp');
  background-size:cover;
  padding: 1em 13rem;
  background-position: 100% 60%;
}
.agr10-sec-6 h3{
  font-size: var(--fs-xl);
}
.agr10-sec-6 p{
  font-size: var(--fs-s);
}
.agr10-sec-6-btn-container {
  display: flex;
  gap: .5em;
}
.agr10-sec-6-btn-container button{
  font-size: var(--fs-s);
  padding: .5em;
  color: #000000;
  border: none;
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.432);
  background-color: #9cf00b;
  border-radius: .5em;
}

/* ###########################section7 ########################## */
.agr10-sec-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1em 13rem;
  background-color: #000;
  height: auto;
}

.agr10-sec-7-index-container {
  position: relative;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-blend-mode:darken;
  overflow: hidden;

}
.agr10-sec-7-images{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%,-50%);
  z-index: 1;
  border-radius: 50% ;
}
.agr10-sec-7-index {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  z-index: 5;
}

.agr10-sec-7-index img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.agr10-sec-7-index.active {
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5) , -1px -1px 5px rgba(255, 255, 255,.5);
}

.agr10-sec-7-roulette {
  position: absolute;
  top: -0%;
  left: -0%;
  border-radius: 50%;
  pointer-events: none; 
  transform-origin: center;
  transition: transform 2s ease-in-out; 
  width: 50rem;
  height: 50rem;
  transform: translate(-10%,-10%);
}
.agr10-sec-7-roulette img{
  color: #ffffff21;
  width: 100%;
  height: 100%;
}

.agr10-sec-7-index:nth-child(1) {
  transform: translate(-50%, 0);
  top: 0%;
  left: 50%;
  margin-top: .5em;
}
.agr10-sec-7-index:nth-child(2) {
  transform: translate(0, -50%);
  top: 50%;
  right: 0%;
  margin-right: .5em;

}
.agr10-sec-7-index:nth-child(3) {
  transform: translate(0, -50%);
  left: 0%;
  top: 50%;
  margin-left: .5em;

}
.agr10-sec-7-index:nth-child(4) {
  transform: translate(-50%, -100%);
  left: 50%;
  top: 99%;
}

.agr10-sec-7-content{
  color: #d4d4d4;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-80%);
  width: 50%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: .1em;
  z-index: 5;
}
.agr10-sec-7-content h4{
  border-radius: 1em;
  padding: .3em;
  font-size: var(--fs-l);
  color: white;
}
.agr10-sec-7-content p{
  font-size: var(--fs-xs);
}


/* ######################section 8############## */
.agr10-sec-8-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #000;
  color: #d4d4d4;
}

.agr10-sec-8-video {
  width: 35vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.agr10-sec-8-video video {
  width: 100%;
  border-radius: 1em ;
  transition: opacity 0.5s ease, z-index 0.5s ease;
  display: flex;
}

.agr10-sec-8-content {
  flex: 2;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.agr10-sec-8-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
}

.agr10-sec-8-index-item {
  background: transparent;
  border: none;
  color: #d4d4d4;
  text-align: left;
  padding: auto;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: var(--fs-m);
}

.agr10-sec-8-index-item:hover,
.agr10-sec-8-index-item.active {
  color: #9bf00b;
  font-weight: 500;
  border-bottom: 1px solid #9bf00b;
}

.agr10-sec-8-description {
  margin: 1rem;
  width: 100%;
}

.agr10-sec-8-description h3 {
  font-size: var(--fs-l);
  color: #9bf00b;
  margin-bottom: 1rem;
}

.agr10-sec-8-description p {
  font-size: var(--fs-s);
  text-align: left;
}


/* ################################section9################# */

.agr10-sec-9 {
  padding: 1em 13rem;
  background-color: transparent;
}

.agr10-sec-9-title {
  text-align: center;
  font-size: var(--fs-xl);
  margin-bottom: 20px;
  color: #9bf00b;
  background: linear-gradient(to top, rgb(0, 116, 20), #9bf00b, #9bf00b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.agr10-sec-9-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.agr10-sec-9-video {
  flex: 1;
  max-width: 50%;
}

.agr10-sec-9-video video {
  width: 100%;
  border-radius: 8px;
}

.agr10-sec-9-content {
  flex: 1;
  max-width: 50%;
  color: #d4d4d4;
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;
  max-width: 100%;
}

.agr10-sec-9-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4d4d4;
  font-size: var(--fs-s);
  flex: 1 1 calc(50% - 16px);
  box-sizing: border-box;
  padding: .5em;
  text-align: center;
  border-radius: 5px;
}
.agr10-sec-9-card h4{
  font-size: var(--fs-m);
}

@media screen and (max-width: 768px) {
  .agr10-sec-2 {
    padding: 1em;
  }
  .agr10-sec-2-card {
    flex-direction: column;
    width: 100%;
  }
  .agr10-sec-2-wrapper ,.agr10-sec-2-card:last-child>.agr10-sec-2-wrapper,.agr10-sec-2-card:first-child>.agr10-sec-2-wrapper{
    width: 70%;
    border-radius: .5em !important;
    margin: .5em;
  }
  .agr10-sec-2-title{
    font-size: var(--fs-s);
  }
  .agr10-sec-10-desc{
    font-size: var(--fs-xs);
  }
  .agr10-sec-2-icon{
    width: auto;
  }
  .agr10-sec-3 {
    padding: 1em;
    flex-direction: column;
    text-align: center;
    height: auto;
  }
  .agr10-sec-3 h2 {
    font-size: var(--fs-m);
  }
  .agr10-sec-3-design {
    position: static;
    margin-top: 1em;
  }
  .agr10-sec-3-design svg {
    width: 1.5em;
    height: 1.5em;
  }
  .agr10-sec-4 {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }
  .agr10-sec-4-content {
    width: 100%;
    text-align: center;
  }
  .agr10-sec-4-video {
    width: 100%;
    margin-top: 1em;
  }
  .agr10-sec-4-content h2 {
    font-size: var(--fs-m);
    text-align: center;

  }
  .agr10-sec-4-content p {
    font-size: var(--fs-xs);
    text-align: center;
  }
  .agr10-sec-4-content li {
    font-size: var(--fs-xs);
    text-align: center;
  }
  .agr10-sec-5 {
    flex-direction: column;
    padding: 1em ;
    height: auto;
  }
  .agr10-sec-5-aside {
    position: static;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  .agr10-sec-5-aside-title{
    writing-mode:horizontal-tb;
    text-orientation:sideways-right;
    transform: none;
    font-size: var(--fs-m);
    text-align: center;
    width: auto;
    padding: .2em;
  }
  .agr10-sec-5-cards {
    flex-direction: column;
    align-items: center;
  }
  .agr10-sec-5-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
  }
  .agr10-sec-5-image {
    width: 3em;
  }
  .agr10-sec-5-content{
    text-align: center;
    align-items: center;
    margin: .5em;
  }
  .agr10-sec-5-content h4 {
    font-size: 1rem;
  }
  .agr10-sec-5-content p {
    font-size: 0.875rem;
  }
  .agr10-sec-6 {
    height: auto;
    padding: 1em;
    text-align: center;
    background-position: center;
  }
  .agr10-sec-6 h3 {
    font-size: var(--fs-m);
  }
  .agr10-sec-6 p {
    font-size: var(--fs-xs);
  }
  .agr10-sec-6-btn-container {
    flex-direction: column;
    gap: .5em;
    align-items: center;
  }
  .agr10-sec-6-btn-container button {
    width:50%;
    padding: 0.5em;
    font-size: var(--fs-xs);
  }
  .agr10-sec-7 {
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
  }
  .agr10-sec-7-index-container {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
    width: 20em;
    height: 20em;
  }
  .agr10-sec-7-index {
    width: 60px;
    height: 60px;
    margin: 0%;
  }
  .agr10-sec-7-index img {
    width: 100%;
    height: 100%;
    margin: 0%;

  }
  .agr10-sec-7-content {
    margin-top: 1em;
    text-align: center;
    width: 70%;
    top: 60%;
  }
  .agr10-sec-7-content h4 {
    font-size: var(--fs-s);
  }
  .agr10-sec-7-content p {
    font-size: var(--fs-xs);
  }
  .agr10-sec-7-images {
    width: 100%;
    height: 100%;
    margin-top: 1em;
    background-size: cover;
    background-position: center;
  }
  .agr10-sec-7-index:nth-child(1) {
    transform: translate(-50%, 0);
    top: 5%;
    left: 50%;
    margin-top: 0%;
  }
  .agr10-sec-7-index:nth-child(2) {
    transform: translate(0, -50%);
    top: 50%;
    right: 0%;
    margin-right: 0%;
  
  }
  .agr10-sec-7-index:nth-child(3) {
    transform: translate(0, -50%);
    left: 0%;
    top: 50%;
    margin-left: 0%;
  
  }
  .agr10-sec-7-index:nth-child(4) {
    transform: translate(-50%, -100%);
    left: 50%;
    top: 99%;
  }
  .agr10-sec-8-container {
    flex-direction: column-reverse;
    text-align: center;
    padding: 1rem;
    height: 100%;
  }
  .agr10-sec-8-video{
    width: 70vw;
  }
  .agr10-sec-8-video video {
    width: 100%;
    margin-bottom: .3em;
  }

  .agr10-sec-8-video video {
    border-radius: 0.5em;
  }

  .agr10-sec-8-content {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .agr10-sec-8-index {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .agr10-sec-8-index-item {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: var(--fs-s);
  }
  .agr10-sec-8-description h3{
    font-size: var(--fs-m);
  }
  .agr10-sec-8-description p{
    margin: 1rem 0;
    text-align: center;
    font-size: var(--fs-xs);
  }
  .agr10-sec-9 {
    padding: 1em;
  }
  .agr10-sec-9-title {
    font-size: var(--fs-m);
    text-align: center;
  }
  .agr10-sec-9-container {
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
  .agr10-sec-9-video{
    max-width: 80%;
    width: 100%;
    height: 100%;
  }
  .agr10-sec-9-content {
    width: 70%;
  }
  .agr10-sec-9-card {
    font-size: var(--fs-s);
    padding: .5em;
  }
  .agr10-sec-9-card h4{
    font-size: var(--fs-s);
  }
  .agr10-sec-9-card p{
    font-size: var(--fs-xs);
  }
}



/* Tablet View for Section 4 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .agr10-sec-2 {
    padding: .5em;
  }
  .agr10-sec-2-wrapper{
    width: 70%;
  }
  .agr10-sec-2-icon{
    width: 40%;
  }
  .agr10-sec-2-icon svg{
    width: 100%;
  }
  .agr10-sec-3 {
    padding: 1em 5rem;
    text-align: center;
    height: 50vh;
    flex-direction: column;
  }
  .agr10-sec-3 h2 {
    font-size: var(--fs-xl);
  }
  .agr10-sec-3-design {
    position: relative;
    margin-top: 2em;
  }
  .agr10-sec-3-design svg {
    width: 2em;
    height: 2em;
  }
  .agr10-sec-4 {
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 5rem;
  }
  .agr10-sec-4-content {
    width: 45%;
  }
  .agr10-sec-4-video {
    width: 45%;
  }
  .agr10-sec-4-content h2 {
    font-size:var(--fs-l);
  }
  .agr10-sec-4-content p {
    font-size: var(--fs-s);
  }
  .agr10-sec-5 {
    padding: 1em 1rem;
  }
  .agr10-sec-5-aside {
    /* position: static; */
    margin-bottom: 1em;
    text-align: center;
  }
  .agr10-sec-5-cards {
    flex-direction: column;
    gap: 1em;
  }
  .agr10-sec-5-card {
    flex-direction: row;
    gap: 1em;
  }
  .agr10-sec-5-image {
    width: 8em;
  }
  .agr10-sec-5-content h4 {
    font-size: 1.2rem;
  }
  .agr10-sec-5-content p {
    font-size: 1rem;
  }

  .agr10-sec-6 {
    height: auto;
    padding: 2em 5rem;
    text-align: center;
  }
  .agr10-sec-6 h3 {
    font-size: var(--fs-l);
  }
  .agr10-sec-6 p {
    font-size: var(--fs-xs);
  }
  .agr10-sec-6-btn-container {
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
  }
  .agr10-sec-6-btn-container button {
    padding: 0.5em ;
    font-size: var(--fs-s);
  }

  .agr10-sec-7 {
    padding: 2em 5rem;
  }
  .agr10-sec-7-index-container {
    justify-content: space-around;
  }
  .agr10-sec-7-index {
    width: 80px;
    height: 80px;
  }
  .agr10-sec-7-content h4 {
    font-size: var(--fs-m);
  }
  .agr10-sec-7-content p {
    font-size: var(--fs-xs);
  }
  .agr10-sec-8-container {
    flex-direction: column-reverse;
    padding: 1.5rem;
    align-items: center;
  }

  .agr10-sec-8-video {
    width: 50%;
    margin-bottom: 1rem;
  }

  .agr10-sec-8-content {
    max-width: 90%;
    align-items: center;
  }

  .agr10-sec-8-index {
    justify-content: center;
    gap: 1rem;
    
  }
  .agr10-sec-8-index-item{
    text-align: center;
  }
  .agr10-sec-8-description {
    margin: 1rem 0;
    text-align: center;
  }
  .agr10-sec-9 {
    padding: 1em 5rem;
  }
  .agr10-sec-9-title {
    font-size:var(--fs-xl);
    text-align: center;
  }
  .agr10-sec-9-container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
  }
  .agr10-sec-9-content{
    display: flex;
    flex-direction: row;
  }
  .agr10-sec-9-content p{
    font-size: var(--fs-xs);
  }
  .agr10-sec-9-video{
    width: 60%;
  }
  .agr10-sec-9-card {
    font-size: 1.2rem;
    padding: 1em;
  }
}







