
/*About*/
.About {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.aboutpage-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 7rem 13rem;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.aboutpage-contents {
    width: 50%;
    position: relative;
    overflow: hidden;
    flex: 1;
}

.aboutpage-contents h1 {
    margin: 0;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: var(--fs-xxl); /* 71px */
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    /* 78.1px */
    letter-spacing: -2.13px;
    text-transform: uppercase;
    margin: 10px;
}

.aboutpage-title {
    display: flex;
}

.aboutpage-logo {
    margin-left: 0.5rem;
    width: 10em;
    height: 80px;
}

.aboutpage-contents p {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: var(--fs-s); /* 1.5rem */
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    word-spacing: .5em;
    letter-spacing: -0.69px;
    text-align: justify;
    width: 90%;
    height: max-content;
    color: #d4d4d4;
}

.aboutpage-myvideo {
    flex:1.2;
    width: 40%;
    position: relative;
    object-fit: contain;
    object-position: left;
}

.aboutpage-myvideo video {
    width: 100%;
    border-radius: 35px;
}








/* about end */
/*Vision*/

.vision {
    display: flex;
    width: 99vw;
    padding: 96px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to right, #9bf00b, #89eb18, #75e722, #60e22a, #48dd31, #36d841, #22d34e, #00cd59, #00c669, #00be76, #00b680, #00ad87);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   
    
}

.content-center {
    display: flex;
    flex-direction: column;
    padding: 7rem 13rem;
}

.header {
    display: flex;
    gap: 2rem;
    height: 100%;
    width: 100%;
}

.header .title {
    width: auto;
    flex: 1;
}

.vision .title h2 {
    height: 100%;
    width: 100%;
    color: #FFF;
    text-shadow: 0px 4.96px 4.96px rgba(0, 0, 0, 0.25);
    white-space: wrap;
    font-size: 8em; /* 8rem */
    margin-top: 0;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.257px;
    text-transform: uppercase;
    
}

.vision .text-effect {
    width: 100%;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 3;
    align-items: flex-start;
}

.vision .text-effect h2 {
    /* background-image: url('/assets/wingspin.gif'); */
    background: linear-gradient(0deg, rgba(255,255,255,1) 2%, rgba(75,75,75,1) 24%, rgba(36,35,35,1) 44%, rgba(0,0,0,1) 68%, rgba(4,4,4,1) 93%, rgba(46,45,45,1) 99%, rgba(0,0,0,1) 100%);
    background-size: cover;
    background-position: 20%;
    background-color: #000;
    color: transparent;
    background-clip: border-box;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 15rem;
    font-weight: 900;
    /* padding: 5px; */
    width: 100%;
    height: 100%;
    vertical-align: top;
    line-height: 100%;
}

.vision .content {
    display: flex;
}

.vision .content .aboutcard {
    padding: 0px 2rem;
    border-radius: 1.3rem;
    background: linear-gradient(225deg, #5cd70a07, #6dff0c13);
    box-shadow: -10px 10px 20px #0707071c,
        10px -10px 20px #1e1f1e3f;
    margin: 2rem;
    padding: 1rem;
    overflow: hidden;
}

.vision .content .aboutcard h2 {
    font-size: var(--fs-l); /* 2rem */
    font-weight: 700;
    line-height: 27.372px;
    margin-bottom: 10px;
}

.vision .content .aboutcard h3 {
    margin: 0px;
    font-size: var(--fs-l); /* 2rem */
    font-weight: 700;
    /* text-decoration-line: underline; */
    color: white;
    text-shadow: 0px 4.96px 4.96px rgba(0, 0, 0, 0.25);
}

.vision .content .aboutcard p {
    margin-top: 8px;
    font-size: var(--fs-s); 
}

/* vision end */

.mission {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 7rem 13rem;
    gap: 10px;
    background: #000;
}

.mission .head .heading {
    color: #FFF;
    text-shadow: 0px 4.96px 4.96px rgba(0, 0, 0, 0.25);
    font-size: var(--fs-xxxl); /* 8rem */
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.257px;
    text-transform: uppercase;
}

.mission .misson-texteffect h2 {
    /* background-image: url('/assets/mission1.gif'); */
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 31%, rgba(75,75,75,1) 76%, rgba(4,4,4,1) 98%, rgba(46,45,45,1) 99%, rgba(36,35,35,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);    background-size: cover;
    background-position: -390px -90px;
    color: transparent;
    background-clip: border-box;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 16rem;
    font-weight: 900;
    margin-top: -50px;
}

.mission .content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.mission .content .mission-card {
    padding: 0px 2rem;
    border-radius: 1.3rem;
    background: linear-gradient(225deg, #00000007, #6dff0c13);
    box-shadow: -10px 10px 20px #adadad1c,
        10px -10px 20px #6e6e6e6e;
    margin: 2rem;
    padding: 1rem;
    overflow: hidden;
    width: auto;
}

.mission .content .mission-card h2 {
    color: #e9e9e9;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: var(--fs-l); 
    font-style: normal;
    font-weight: 700;
    line-height: 27.372px;
    margin-bottom: 10px;
}

.mission .content .mission-card h3 {
    margin: 0px;
    font-size: var(--fs-l);
    font-weight: 700;
    color: white;
    text-shadow: 0px 4.96px 4.96px rgba(0, 0, 0, 0.25);
}

.mission .content .mission-card p {
    margin-top: 8px;
    font-size: var(--fs-s);
    color: #d4d4d4;
}

/* mission end */

/* core value  */

.coreSection {
    background: rgb(0, 0, 0);
    min-height: 100%;
    
}

.coreSection .head .heading {
    color: #FFF;
    padding: 1rem 13rem;
    text-shadow: 0px 4.96px 4.96px rgba(0, 0, 0, 0.25);
    font-size: var(--fs-xxxl); /* 8rem */
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.257px;
    text-transform: uppercase;
}   

.coreSection .misson-texteffect h2 {
    /* background-image: url('/assets/mission1.gif'); */
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(180, 180, 180) 31%, rgba(75,75,75,1) 76%, rgba(4,4,4,1) 98%, rgba(46,45,45,1) 99%, rgba(36,35,35,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%); 
    background-size: cover;
    
    background-position: center;
    color: transparent;
    background-clip: border-box;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 10rem;
    font-weight: 900;
    margin-top: -50px;
    line-height: 110%;
    white-space: nowrap;
    padding: 1rem 13rem;

  }
.content-grid {
    display: grid;
    grid-template-columns: repeat(3, 23%);
    grid-template-rows: repeat(4, 1fr);
    width:100%;
    height: 50%;
    box-sizing: border-box;
    justify-content: center;
    padding: 0em 1rem; 
}

.coreContent {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: #d4d4d4;
    text-align: center;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0); 
    height: 100%;
    
    align-self: center;
    justify-self: center;
    width: 20em;

}

.coreImg {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 1em;
    border: 1px solid black;
    transition: all .5s ease-in-out;

}
.coreImg:hover{
    transform: scale(1.05);
    transition: all .5s ease-in-out;
}

.coreBox1 { grid-area: 1/1/2/2; }
.coreBox2 { grid-area: 1/2/4/3; }
.coreBox3 { grid-area: 1/3/2/4; }
.coreBox4 { grid-area: 2/1/5/2; }
.coreBox5 { grid-area: 3/2/5/3; }
.coreBox6 { grid-area: 2/3/5/4; }
  
.coreBox1,.coreBox3{justify-content: flex-start; z-index: 2;}
.coreBox5{justify-content: center; z-index: 2;}

.coreContent h3{
    font-size: var(--fs-l);
    font-weight: 600;
}
.coreContent p{
    font-size: var(--fs-xs);
    font-weight: 400;
    line-height: 200%;
    text-align: justify;
}

 
/* SECTION-6 */


.background-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding: 48px;
    background-color: #223344;
    background: url('/assets/icon.webp'), url('/assets/GRAPHIC.webp');
    background-position: 5% 5%, right center;
    background-repeat: no-repeat, no-repeat;
}


.news {
    padding: 60px 94px;
    align-items: center;
    gap: 90px;
    background: radial-gradient(362.06% 154.47% at 5.03% 115.89%,
            rgba(57, 83, 41, 0.44) 0%,
            rgba(11, 14, 10, 0) 44.4%,
            rgba(57, 83, 41, 0.44) 100%),
        #000;
}

.mission-cards {
    display: flex;
    align-items: center;
    gap: 28.736px;
    color: #fff;
    padding: 16px 23px 16px 16px;
    border-radius: 37.615px;
    border: 2.821px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(128deg,
            rgba(24, 24, 24, 0.1) -22.07%,
            rgba(71, 71, 71, 0.4) -9.67%,
            rgba(24, 24, 24, 0.1) 96.88%);
}

.mission-cards h2 {
    font-size: 24.631px; 
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 34.483px */
}

.mission-cards p {
    font-size: 16.421px; 
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24.631px */
}

.mission-cards .cat-bt {
    width: 73.35px;
    border-radius: 12.225px;
    border: none;
    background: #f4f4f4;
    padding: 3px 7x;
    color: #2d2a2a;
    font-size: 13.165px; 
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 19.748px */
}

.mission-cards button {
    background: none;
    border: none;
    color: #c2c2c2;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-areas:
        "item1 item4"
        "item2 item5"
        "item2 item6"
        "item3 item7";
}

.item1 {
    grid-area: item1;
    display: flex;
    width: 609px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.item1 h2 {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: var(--fs-xxl); 
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    
    letter-spacing: -2.13px;
    text-transform: uppercase;
}

.item1 h2 span {
    color: #9bf00b;
}

.item1 p {
    color: #9bf00b;
    font-size: var(--fs-s); 
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.item2 {
    grid-area: item2;
}

.item2 .main-cards {
    display: flex;
    padding: 13px 23px 13px 23px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}

.item2 .main-cards img {
    width: 100%;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

/* NEWS & EVENTS */
#sec-7 {
    padding: 48px;
}

.news-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 24px;
    display: none;
}

.news-container .left-sec {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.news-container .head h3 {
    font-size: var(--fs-xxxl); /* 72px */
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    line-height: 110%;
}

.news-container .head h3 span {
    color: #9BF00B;
}

.news-container .head p {
    font-size: var(--fs-s); /* 18px */
    font-weight: 400;
    color: white;
    margin-top: 24px;
}

.news-container .recent-news {
    border: 1px solid rgba(255, 255, 255, 0.571);
    border-radius: 28px;
    padding: 16px;
}

.news-container .recent-news .img-container {
    width: 100%;
}

.news-container .recent-news .img-container img {
    width: 100%;
    object-fit: cover;
}

.news-container .category {
    color: #000000f5;
    background-color: white;
    width: fit-content;
    font-size: var(--fs-s); /* 14px */
    font-weight: 700;
    padding: 4px 12px;
    border-radius: 12px;
    margin: 12px 0px;
}

.news-container .info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.news-container .info .duration {
    color: white;
}

.news-container h4 {
    font-size: 24px; /* Consider using var(--fs-m) if appropriate */
    color: white;
    margin-bottom: 8px;
}

.news-container .news-desc {
    color: #FAFAFA;
    margin-bottom: 24px;
}

.news-container a {
    text-decoration: none;
    color: #C2C2C2;
}

.news {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.571);
    border-radius: 28px;
    padding: 16px;
}

.news .img-container {
    width: 30%;
}

.news .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news .content {
    width: 70%;
}

.news-container .right-sec {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

.news-container .right-sec .news {
    height: 25%;
}

#sec-7 button {
    background-color: #9BF00B;
    border: none;
    outline: none;
    font-size: var(--fs-s); /* 14px */
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 12px;
    display: block;
    margin: 36px auto;
}

/* faqsection  */
.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 13rem;
}

.faq-section {
    background-color: #00000000;
    color: white;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    width: 90%;
    margin-bottom: 2rem;
}

.faq-title {
    font-size: var(--fs-xxl); /* 71px */
    color: white;
    margin: 2rem 0rem;
    font-weight: 800;
    line-height: 110%;
}

.faq-title span {
    color: #9BF00B;
    text-transform: lowercase;
    font-style: italic;
}

.faq-card {
    max-width: 100%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9BF00B;
}

.faq-question h3 {
    font-size: 1.8rem; /* Consider using var(--fs-m) if appropriate */
    font-weight: 500;
}

.faq-answer {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: var(--fs-s); /* 1rem */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0s ease-out;
    color: #d4d4d4;
}

.faq-active .faq-answer {
    max-height: 500px;
    transition: max-height .7s ease-out;
}

/* Mobile view for About page */

/* Banner */

/* About Section */
@media screen and (max-width: 767px) {
    .About {
        height: auto;
        padding: 24px;
    }

    .About .aboutpage-container {
        flex-direction: column;
        padding: .1rem;
        gap: 24px;
    }
    .aboutpage-title{
        justify-content: center;
    }
    .aboutpage-logo{
        width: 5em;
        height: 3em;
    }
    .About .aboutpage-contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .About .aboutpage-contents h1 {
        font-size: var(--fs-l);
        font-weight: 500; /* 36px */
    }

    .About .aboutpage-contents p {
        font-size: var(--fs-xs);
        font-weight: 500; 
        text-align: start;
        width: 100%;
    }

    .About .aboutpage-myvideo {
        width: 100%;
    }

 
}

/* Vision Section */
@media screen and (max-width: 767px) {
    
.content-center{
    padding: 0em;
}
   
    .vision{
        padding:0em 1em;
    }
    .vision .header {
        gap: .4rem;
        margin: 0 .1em;
        margin-bottom: 24px;
        
        display: flex;
        height: auto;
        flex-direction: column;
    }
    .header .title{
    width: 100%;
    flex: none;
    }
    .vision .title h2 {
        font-size: var(--fs-xl); 
        margin-top: 1rem;
        width: 100%;
        height: auto;
    }
    
    .vision .text-effect h2 {
        font-size: var(--fs-xl); 
        height: auto;
    }

    .vision .content {
        flex-direction: column;
        gap: 0px;
        padding: .1em 1em;
    }

    .vision .content .aboutcard {
        padding: .3rem;
        margin: .4rem;
    }

    .vision .content .aboutcard h2 {
        font-size: var(--fs-m); /* 1rem */
    }

    .vision .content .aboutcard h3 {
        font-size: var(--fs-m)
    }

    .vision .content .aboutcard p {
        font-size: var(--fs-xs);
    }
}

/* Mission Section */
@media screen and (max-width: 767px) {
    .mission,
    .coreSection {
        padding: 24px;
        height: 100%;
    }
    .coreSection .misson-texteffect h2,  .coreSection .head .heading {
        padding: 1px;
    }
    .mission .head,
    .coreSection .head {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .mission .head .heading,
    .coreSection .head .heading {
        font-size: var(--fs-xl); /* 3rem */
    }

    .mission .misson-texteffect h2,
    .coreSection .misson-texteffect h2 {
        font-size: var(--fs-xl); /* 3rem */
        margin-top: -10px;
    }

    .mission .content,
    .coreSection .content {
        flex-direction: column;
        gap: 0px;
    }

    .mission .content .mission-card,
    .coreSection .content .mission-card {
        padding: .3rem;
        margin: .4rem;
    }

    .mission .content .mission-card h2,
    .coreSection .content .mission-card h2 {
        font-size: var(--fs-m); /* 1rem */
        color: white;
    }

    .mission .content .mission-card h3,
    .coreSection .content .mission-card h3 {
        font-size: var(--fs-m);
    }

    .mission .content .mission-card p,
    .coreSection .content .mission-card p {
        font-size: var(--fs-xs);
        color: rgb(255, 255, 255);
    }
.coreSection .content-grid{
    width: 90vw;
    height: 100%;
    transform: translateX(0);
    left: 0;
    display: flex;
    flex-direction: column;
}
.content-grid {
    padding: 0;
}
.coreContent {
    border-radius: 0; 
    display: flex;
    flex-direction: column;
    box-sizing:content-box;
  
   
    width: 20em;
    margin: auto 2em;

}

.coreImg {
    width: 100%; 
    max-width: 100%; 
    height: 10em; 
    object-fit: cover; 
    border-radius: 1em;
    border: 1px solid black;
    margin: 1em auto;
}

.coreContent h3{
    font-size: var(--fs-m);
    font-weight: 500;
}
.coreContent p{
    font-size: var(--fs-xs);
    font-weight: 400;
    line-height: 120%;
    text-align: justify;
}
#sec-6{
    height: 100%;
}
    #sec-news {
        padding: 24px;
        display: none;
    }

    .faq-container {
        padding: 2rem;
    }

    .faq-section {
        width: 100%;
        padding: 1rem;
    }

    .faq-title {
        font-size: var(--fs-l); /* 3rem */
        margin: 1rem 0;
    }

    .faq-title span {
        font-size: 1.5rem;
    }

    .faq-card {
        padding: .1rem;
    }

    .faq-question h3 {
        font-size: var(--fs-s);
    }

    .faq-answer p {
        font-size: var(--fs-xs);
        font-weight: 500;
        line-height: 180%;
        
    }
}

/* Tablet View */

/* Banner */
/* About Section */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #sec-news {
        padding: 24px;
        display: none;
    }

   

    .About {
        height: auto;
        padding: 2rem;
    }

    .About .aboutpage-container {
        flex-direction: column;
        padding: 0.5rem;
        gap: 1.5rem;
    }

    .About .aboutpage-contents {
        width: 100%;
    }

    .About .aboutpage-contents h2 {
        font-size: var(--fs-xl);
    }

    .About .aboutpage-contents p {
        font-size: var(--fs-s);
        text-align: justify;
    }

    .About .aboutpage-myvideo {
        width: 100%;
    }

   

    .vision {
        padding: 3rem 1.5rem;
    }

    .vision .header {
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .vision .title h2 {
        font-size: var(--fs-xxl); /* 4rem */
        margin-top: 1rem;
    }

    .vision .text-effect h2 {
        font-size: 7rem;
        height: 190%;
        transform: translateY(1rem);
        line-height: 120%;
    }

    .vision .content {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        align-items: center;
    }

    .vision .content .aboutcard {
        padding: 1rem;
        margin: 1rem;
        width: 70%;
    }

    .vision .content .aboutcard h2 {
        font-size: 1.5rem;
    }

    .vision .content .aboutcard h3 {
        font-size: var(--fs-l); /* 2rem */
    }

    .vision .content .aboutcard p {
        font-size: var(--fs-s); /* 1rem */
    }

    .mission,
    .coreSection {
        padding: 2rem;
    }

    .mission .head,
    .coreSection .head {
        flex-direction: column;
        gap: 1rem;
    }

    .mission .head .heading,
    .coreSection .head .heading {
        font-size: var(--fs-xxl); /* 4rem */
    }

    .mission .misson-texteffect h2,
    .coreSection .misson-texteffect h2 {
        font-size: 7rem;
        margin-top: -2rem;
    }

    .mission .content,
    .coreSection .content {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }

    .mission .content .mission-card,
    .coreSection .content .mission-card {
        padding: 1rem;
        margin: 1rem;
        width: 70%;
    }

    .mission .content .mission-card h2,
    .coreSection .content .mission-card h2 {
        font-size: 1.5rem;
        color: white;
    }

    .mission .content .mission-card h3,
    .coreSection .content .mission-card h3 {
        font-size: var(--fs-l); /* 2rem */
    }

    .mission .content .mission-card p,
    .coreSection .content .mission-card p {
        font-size: var(--fs-s); /* 1rem */
        color: rgb(255, 255, 255);
    }
    .content-grid{
        transform: translateX(0);
    }
    .news-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .news-container .left-sec,
    .news-container .right-sec {
        width: 100%;
    }

    .news-container .head h3 {
        font-size: var(--fs-xxl); /* 4rem */
    }

    .news-container .head p {
        font-size: var(--fs-m); /* 1rem */
    }

    .news-container .recent-news {
        padding: 1rem;
    }

    .news-container .recent-news h4 {
        font-size: 1.5rem;
    }

    .news-container .recent-news p {
        font-size: var(--fs-m); /* 1rem */
    }

    .news-container .news-desc {
        margin-bottom: 1rem;
    }

    .news-container .news {
        flex-direction: column;
        gap: 1rem;
    }

    .news .content {
        width: 100%;
    }

    .faq-container {
        padding: 2rem;
    }

    .faq-section {
        width: 100%;
        padding: 1rem;
    }

    .faq-title {
        font-size: var(--fs-xxl); /* 5rem */
        margin: 1rem 0;
    }

    .faq-title span {
        font-size: 1.5rem;
    }

    .faq-card {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .faq-question h3 {
        font-size: 1.5rem;
    }

    .faq-answer {
        font-size: var(--fs-m); /* 1rem */
    }
}
