

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


:root {
    --fs-xxs: .5rem; 
    --fs-xs: .8rem; 
    --fs-s: 1rem; 
    --fs-m: 1.5rem;  
    --fs-l: 2rem;   
    --fs-xl: 3rem;  
    --fs-xxl: 4rem;  
    --fs-xxxl: 8rem; 
}

html {
    scrollbar-width: thin;
    scrollbar-color: #7FB00B #0C0C0C;
    scroll-behavior: smooth;
    scroll-snap-type:y mandatory;
    scroll-snap-align: start;
    
      
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    position: relative;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
    overflow-y: scroll;
}
a{
    color: white ;
    text-decoration: none !important;
}

p {
    font-size: var(--fs-s);
    /* font-weight: 500; */
}
span{

    text-align: center;
    color: #000;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: inherit;
}
.error{
    color: red;
    
}
main{
    margin-top: 3rem;
    
}

@media( max-width: 767px){
main{
    margin-top: 3.5em;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    main{
        margin-top: 3.5em;   
    }
}

.final-frame-mobile{
    width: 99vw;
    object-fit: contain;
}

/* Scroll */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0C0C0C;
}

::-webkit-scrollbar-thumb {
    background-color: #9BF00B;
    border-radius: 10px;
    border: 3px solid #0C0C0C;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7FB00B;
}

/* Example CSS for styling selected text */
::selection {
    background: #9BF00B;
    color: #000000;
}

/* For Firefox */
::-moz-selection {
    background: #9BF00B;
    color: #000000;
}






  /* Banner code  */
.banner {
    width: 99vw;
    position: relative;
    display: inline-block;

}

.banner img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}

.image-text h3 {
    color: white;
    font-size: var(--fs-xxl); /* 64px */
    text-transform: uppercase;
    line-height: var(--fs-xl); /* 72px */
    font-weight: 800;
    margin-bottom: 24px;
}

.image-text h3 span {
    color: #9BF00B;
}

.image-text p {
    font-size: var(--fs-s); /* 18px */
    font-weight: 500;
    color: white;
}
@media screen and (max-width: 767px) {
    
    .banner{
        margin-top: 1em;
        height:15em;
    }
    .banner img {
        object-position: top;
    }
        .image-text {
            width: 100%;
            font-size: var(--fs-xs);
            padding:0px ;
        }
    
        .image-text h3 {
            font-size: var(--fs-m); 
            line-height: 0px; 
        }
    
        .image-text p {
            font-size: var(--fs-xs);
            font-weight: normal;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        
    
        .banner {
            margin-top: 4rem;
        }
    
        .banner img {
            height: auto;
        }
    
        .image-text {
            width: 80%;
        }
    
        .image-text h3 {
            font-size: var(--fs-xl); /* 3rem */
            line-height: var(--fs-xl); /* 4rem */
        }
    
        .image-text p {
            font-size: var(--fs-m); /* 1rem */
            font-weight: normal;
        }
        
    }




    
