




.battery-banner {
    width: 100%;
    position: relative;
    display: inline-block;
}

.battery-banner img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}



#battery-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px; 
    width: 100%;
    /* top: 5rem; */
    margin-bottom: 7em;
    background: rgb(15, 15, 15);

}

.battery-card {
    background-color: #000000;
    border-radius: 1rem;
    box-shadow: 0 4px 8px #00000033;
    overflow: hidden;
    width: calc(33% - 200px); 
    text-align: center;
    border: 1px solid rgb(71, 71, 71);
    transition: opacity 1s, transform 1s ease; /* Smooth transition */
    height: 100%;
    position: relative;
    /* border: 2px solid yellow; */
}

.battery-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border: 1px ridge #9BF00B;
}

.battery-image img {
    width: 100%;
    height: 15em;
    object-fit: scale-down;
    transition: all 0.3s ease;
    background-color: rgb(185, 186, 187);
    /* background-image: url('/assets/darkblue.webp'); */
}

    .battery-info {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

.battery-title {
    font-size:var(--fs-m);
    color: #9BF00B;
    font-weight: 600;
    
}

.battery-model {
    color: #ffffff;
    padding-left: 2rem;
    font-size: 1.2rem;
}



.battery-card-footer{

   display: flex;
   flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    transition: all 0.3s ease;
    position: relative;
}

.battery-card:hover .battery-card-footer{
    opacity: 1;
}
.battery-price {
    font-size:var(--fs-s);
    font-weight: 700;
    color: #ffffff;
    margin: 0em 1em;
}

.add-to-cart {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: .5em;
    cursor: pointer;
    font-size: var(--fs-s);
    border: 2px solid #9BF00B ;
    text-decoration: none;
    text-align:center;
    margin: 0em 1em 1em 0em;
    
}

.add-to-cart:hover {
    color: #000000;
    background-color: #9BF00B;
}
.add-to-cart:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }


  



.battery-spec-container{
    overflow: hidden;
    background: #ffffff;
    width:100%;
    height: 50rem;
    position: relative;
    display: flex;
    justify-content: center ;
    flex-direction: column;
            background-image: linear-gradient(to right, #9bf00b, #89eb18, #75e722, #60e22a, #48dd31, #36d841, #22d34e, #00cd59, #00c669, #00be76, #00b680, #00ad87);

}
.battery-spec-box{
    display: flex;
    width: 60%;
    color: #bdbdbb;
    height: 50vh;
    position: absolute;
    right: 10rem;
    bottom: 5rem;
    overflow: hidden;
    
}
.btpt1{
    
    transform: translateY(-200%);
}
.battery-points{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .4em 0em;
        width: 100%;
        font-weight: 700;
        text-transform: capitalize;
        font-size: 1.8rem;
        font-family: Arial, Helvetica, sans-serif;
         flex-wrap: nowrap;
         /* border: 2px solid red; */
         padding-left: 1rem;
       

    }
    
    .battery-points p{
        white-space: nowrap;
        width: 100%;
        font-weight: 600;
        font-size: 1em;
        border-radius: 1rem;
        padding: .5rem;
        margin: .6rem;
        color: #000000;
        text-align: center; 
       
   
        background: #ffffff00;
        box-shadow: inset 12px 10px 10px #4d4d4d44,
                    inset -12px -12px 18px #00000033;
    }


    .battery-spec-title{
        position: absolute;
        top: 12%;
        left: 4%;
        font-weight: 800;
        font-size: 6rem;
        margin-bottom: 7vw;
        width: 100%;
        text-transform: uppercase;
    }
    
    
    .t2{
        text-shadow: 12px 10px 10px #00000052;
        top: 26%;
        color: #9BF00B;
    }


    .battery-spec-image{
        transform:translate(-10%,20%) scale(50%);
        position: absolute;
        filter: drop-shadow(4px);
       
    }










/* For screens 768px or less */
@media screen and (max-width: 767px) {
    
    #battery-container {
        padding: 1rem ;
    }

    .battery-card {
        width: 80%;
       
    }
    .battery-card .battery-image{
        height: auto;
    }
    .battery-card .battery-image img{
        object-fit: contain;
        object-position: top;
        /* width: 100%; */
       
    }
    
    .battery-title {
        font-size: 1.5em;
    }

    .battery-model {
        font-size: 1rem;
    }

    .battery-price {
        font-size: 1em;
    }

    .add-to-cart {
        font-size: 1.2em;
        right: 0%;
    }

    .battery-card-footer {
        align-items: flex-start;
        transform: translateY(0px);
        opacity: 1;
        
    }
    .intro-container {
        height: 400px;
        width: 100vw;
        position: relative;
   
        margin-bottom: 3rem;
        
    }

    .intro-container .sky {
        position: absolute;
        top: 0;
        height:300px;
        width: 100%; 
    }

    .intro-container .field {
        position: absolute;
        bottom: 17%;
        width: 100%; 
    }

    .intro-container .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        top: 10%; /* Adjust position for mobile */
        font-weight: 700;
        line-height: normal;
        font-family: 'Times New Roman', Times, serif;
        height: 200px;
        background-color: transparent;
        backdrop-filter: blur(0px)
    }

    .intro-container .text h2 {
        font-size: 2em; /* Adjust font size for mobile */
        color: #d4d4d4;
        backdrop-filter: blur(10px)

    }

    .intro-container .text h3 {
        font-size: 1em;
        width: auto;
        display: flex;
        backdrop-filter: blur(10px)

    }

    .intro-container .text h3 img {
        transform: scale(1);
        position: static;
        width: 1em;
      
    }

     /* spec container */
    .battery-spec-container {
        height: 100%;
        padding: 1rem;
        position: relative;
    }
    .battery-spec-title {
        position: static;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin-bottom: 0%;
    }
    .battery-spec-image {
        transform: none;
        position: static;
        margin: 0em;
        width: 100%;
        height: 80%;
        
    }
    .battery-spec-box {
        flex-direction:column;
       
        position:static;
        padding: 1rem 0rem 0em 0em ;
        width: 100%;
        height:100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
   
    
    .battery-points {
        position: static;
        padding-left: 0;
        width: 100%;
        padding: 0em 2em;
        
    }
    
    .battery-points p {
        font-size: var(--fs-s);
        padding: 1em;
        margin: .4rem;
        width: 100%;
        min-width:  min-content ;
    }
    
  



   
}

/* For screens and tablet view*/
@media only screen and (min-width: 768px ) and (max-width: 1024px) {
    .battery-card {
        width: calc(50% - 4rem);
    }

    .battery-title {
        font-size: 1.5rem;
    }

    .battery-model {
        font-size: 1rem;
    }

    .battery-price {
        font-size: 1rem;
    }

    .add-to-cart {
        font-size: 1.2rem;
    }

    .battery-card-footer {
        align-items: flex-start;
    }

    .intro-container {
        margin-top: 1px;
        height: 600px;  
        width: 100vw;
        position: relative;
        overflow: hidden;
        margin-bottom: 4rem;
        object-fit: cover;
    }

    .intro-container .sky {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .intro-container .field {
        position: absolute;
        bottom: 0;
        width: 100%; 
    }

    .intro-container .batteries {
        position: absolute;
        transform: scale(0.9); 
        top: 20%; 
        left: -30%; 
    }

    .intro-container .text {
        position: absolute;
        height: 1%;
        text-align: center;
        width: 100%;
        top: 5%; 
        font-weight: 700;
        line-height: normal;
        font-family: 'Times New Roman', Times, serif;
        background-color: #00000000;
    }

    .intro-container .text h2 {
        font-size: 4em; /* Adjust font size for tablet */
        color: rgb(0, 0, 0);
    }

    .intro-container .text h3 {
        color: #bea930;
        font-size: 3em; /* Adjust font size for tablet */
        width: auto;
    }

    .intro-container .text h3 img {
        position: absolute;
        transform: scale(1.1);
        top: 1%; /* Adjust position for tablet */
        width: 1em;
        left: 23%; /* Adjust position for tablet */
    }

    .battery-spec-container {
        height: 50rem;
        padding: 1.5rem;
    }

    .battery-spec-box {
        width: 100%;
        left: 0;
        justify-content: center;
        height: 25em;
       
    }

    .battery-spec-title {
        font-size: 4.5rem;
        top: 0%;
        line-height: 100%;
    }
    .t2{
        margin-top: 2rem;
        margin-left: 3rem;
    }
    .btpt1{
      
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    
    .battery-points {
        padding-left: 0;
        width: 45%;
        font-size: 1.3em;
        
    }

    .t2 {
        top: 9%;
        font-size: 4rem;
    }

    .battery-spec-image {
        transform: translate(10%, -25%) scale(10%);
    }
}
