@font-face{
  font-family: karla;
  src:url(/assets/karla.ttf);
  font-weight: 300;
}

.no-Jobs{
    text-align: center;
    color: #d4d4d4;
    font-size: var(--fs-xs);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 13rem;
  }
  .noJobText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height:auto;
  }
  
  .noJobText h2{
    font-size: var(--fs-xl);
    text-transform: uppercase;
    font-weight: 500;
    background: -webkit-linear-gradient(#4e4e4e, #ffffff, #000000); 
  background: linear-gradient(#000000, #ffffff, #000000);
  -webkit-background-clip: text; 
  -moz-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  }
  .noJobText p{
    color: #d4d4d4;
  }
  .no-Jobs img{
    width: 30vw;
  }

/* career.css */
.career-section {
    display: flex;
    padding: 20px;
    background-color: #000000;
    height: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    margin:0rem 2rem 0rem 2rem;
}

.filter-section {
    z-index: 2;
    position: sticky;
    top: 0;
    width: 300px;
    padding: 20px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.082);
    box-shadow: 0 8px 32px 0 rgba(94, 95, 109, 0.37);
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #d4d4d4;
}

.filter-section h4 {
    font-size: var(--fs-s);
    font-weight: 500;
    text-transform: uppercase;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group h5 {
    margin: 0 0 10px;
    color: #9BF00B;
    font-weight: 700;
    font-size: var(--fs-l);
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
}

.job-listings {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.job-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.082);
    box-shadow: 0 8px 32px 0 rgba(94, 95, 109, 0.37);
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #d4d4d4;
    width: 70%;
}
.job-card .require{
    white-space: pre-wrap;
}
.job-card h3 {
    margin-top: 0;
    color: #9BF00B;
    font-size: var(--fs-l);
    display: flex;
    align-items:center ;
}

.job-card strong {
    font-weight: 600;
}

.job-card p {
    font-weight: 100;
    font-family: karla;
    text-align: left;
    font-size: var(--fs-s);
}

.job-card h3 img {
    width: var(--fs-s);
    height: var(--fs-s);
    margin-right: .5rem;
}

.job-card strong {
    color: #9BF00B;
}

.job-card ul li {
    border-radius: 5px;
    margin-left: 5px;
    padding: 2px;
    font-weight: 100;
    font-family: karla;
    word-spacing: 1px;
    font-size: var(--fs-s);
}

.applydiv {
    width: 100%;
    position: relative;
    height: var(--fs-xl);
    display: flex;
    justify-content: flex-end;
}

.apply-button {
    right: 0;
    width: 7em;
    height: 2.5em;
    border-radius: 10px;
    font-size: var(--fs-s);
    font-family: inherit;
    border: none;
    z-index: 1;
    margin: 1rem;
    font-weight: 700;
    font-family: monospace;
    background-color: #9BF00B;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apply-button:hover {
    color: #9BF00B;
    background-color: #000000;
    border: 2px solid #9BF00B;
}

/* checkbox */

.checkbox-wrapper * {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    color: aliceblue;
}

  .checkbox-wrapper input[type="checkbox"] {
      display: none;
  }
  
  .checkbox-wrapper label {
    --size: var(--fs-m);
    --shadow: calc(var(--size) * .07) calc(var(--size) * .1);
    position: relative;
    display: flex;
    width: var(--size);
    height: var(--size);
    margin: 0 1em;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #9BF00B 46%, #FFCC70 100%);
    border-radius: 50%;
    box-shadow: 0 var(--shadow) #9BF00B;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
  }
  
  .checkbox-wrapper label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: calc(var(--size) * .7);
    height: calc(var(--size) * .7);
    margin: 0 auto;
    background-color: #000000;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 var(--shadow) #9BF00B;
    transition: 0.2s ease width, 0.2s ease height;
}

.checkbox-wrapper label:hover:before {
    width: calc(var(--size) * .55);
    height: calc(var(--size) * .55);
    box-shadow: inset 0 var(--shadow) #9BF00B;
}

.checkbox-wrapper label:active {
    transform: scale(0.9);
}

.checkbox-wrapper .tick_mark {
    position: absolute;
    top: -1px;
    right: 0;
    left: calc(var(--size) * -.05);
    width: calc(var(--size) * .6);
    height: calc(var(--size) * .7);
    margin: 0 auto;
    margin-left: calc(var(--size) * .14);
    transform: rotateZ(-40deg);
}

.checkbox-wrapper .tick_mark:before,
.checkbox-wrapper .tick_mark:after {
    content: "";
    position: absolute;
    background-color: #000000;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

.checkbox-wrapper .tick_mark:before {
    left: 0;
    bottom: 0;
    width: calc(var(--size) * .2);
    height: calc(var(--size) * .3);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(calc(var(--size) * -.68));
}

.checkbox-wrapper .tick_mark:after {
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: calc(var(--size) * .2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(calc(var(--size) * .78));
}

.checkbox-wrapper input[type="checkbox"]:checked + label {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #9BF00B 46%, #FFCC70 100%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.checkbox-wrapper input[type="checkbox"]:checked + label:before {
    width: 0;
    height: 0;
}

.checkbox-wrapper input[type="checkbox"]:checked + label .tick_mark:before,
.checkbox-wrapper input[type="checkbox"]:checked + label .tick_mark:after {
    transform: translate(0);
    opacity: 1;
}

.filter-opt {
    width: 80%;
    font-size: var(--fs-s);
    font-weight: 700;
    background-color: #000000;
    color: rgb(221, 220, 220);
    border: 1px solid #daff38;
    border-radius: 5px;
}

.no-jobs h3 {
    text-align: center;
    color: #d4d4d4;
    font-size: var(--fs-xs);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
      
}
.checkbox-wrapper span{
    color: #d4d4d4;
    font-weight: normal !important;
    font-size:var(--fs-s);
}
.job-form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Ensures the pseudo-element does not overflow */
}

.job-form-section::before {
    content: ""; 
    background-image: url('/assets/agr16.svg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; /* Prevent repeating */
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1; 
    opacity: .1;
}


.job-form-container {
    padding: 20px;
    color: #d4d4d4;
    border: 1px solid #9BF00B;
    min-width: 50%;
    margin: auto;
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .job-form-title {
    text-align: center;
    font-size: var(--fs-xl);
    font-weight: 500;
    color: #9BF00B;

    margin-bottom: 20px;
  }
  
  .job-form-success {
    color: green;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .job-form-error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .job-form {
    display: flex;
    flex-direction: column;
  }
  
  .job-form-group {
    margin-bottom: 15px;
  }
  
  .job-form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: var(--fs-s);
  }
  
  .job-form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-radius: .5em;
    color: white;
    background-color: black;
  }
  .job-form-group-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  .job-form-submit {
    padding: 10px 15px;
    background: #9BF00B;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--fs-s);
    font-weight: 600;
    width: min-content;
  }
  
  .job-form-submit:hover {
    background: #5a8b05;
  }
  .job-form-error button{
    background-color:transparent;
    color: red;
    border: 1px solid white;
    padding: .5em;
    border-radius: 20%;
  }
/* Mobile View */
@media screen and (max-width: 767px) {

    

        .no-Jobs{
            display: flex;
            flex-direction: column;

            padding: 1em;
            height: auto;
        }
        .noJobText h2{
        font-size: var(--fs-m);
        }
        .noJobText p{
            font-size: var(--fs-xs);
        }

    .career-section {
        flex-direction: column;
        padding: 1px;
        width: 99vw;
        left: 0;
        margin: 0px;
    }
.filter-group h5{
    font-size: var(--fs-mx);
}
    .filter-section {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        top: 0;
        position: relative; /* Changed to relative for better flow in mobile */
        z-index: 1;
    }
    .filter-section h4{
        font-size: var(--fs-m);
    }
    .checkbox-wrapper span{
        color: #d4d4d4;
        font-weight: normal !important;
        font-size:var(--fs-xs);
    }
    
    .job-listings {
        width: 100%;
    }

    .job-card {
        padding: 10px;
        padding: auto;
        width: 100%;
    }

    .job-card h3 {
        font-size: var(--fs-s);
    
    }

    .job-card p, .job-card ul li {
        font-size: var(--fs-s);
        font-weight: normal;
    }

    .apply-button {
        width: auto;
        padding: 0.5rem;
        position: relative;
        margin: 0;
        font-size: 0.7rem;
        border-radius: 5px;
        height: auto;
    }
    
    .applydiv {
        height: auto;
        margin-top: 10px;
        text-align: center;
    }

    /* checkbox */
    .checkbox-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.6rem;
        height: 2.4rem;
    }

    .checkbox-wrapper * {
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }

    .checkbox-wrapper input[type="checkbox"] {
        display: none;
    }

    .checkbox-wrapper label {
        --size: 1rem;
    }

    .checkbox-wrapper span {
        font-weight: 400;
    }
    .job-form-container{
        margin: 1em ;
    }
    .job-form-title {
        font-size: var(--fs-m) ;
    }
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

.no-Jobs{
    padding: 3rem 7rem;
  }
}
