    /* contact form  */
    .contact_form {
        width: 100%;
        height: 100%;
        padding: 48px;
    }
    
    .contact_form .contact_form-heading {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .contact_form .contact_form-heading h1 {
        color: #9BF00B;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: var(--fs-xxl);
        font-weight: 800;
        text-transform: uppercase;
    }
    
    .contact_form .contact_form-heading h6 {
        margin-top: 5px;
        color: #d4d4d4;
        font-size: var(--fs-s);
        font-weight: 500;
    }
    
    .contact_form-left {
        width: 80%;
        flex: 3;
        display: flex;
        flex-flow: column nowrap;
        gap: 24px;
        padding: 0px 48px;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 auto;
    
    }
    
    .contact_form-left div {
        width: 100%;
    }
    
    .contact_form-left div label {
        color: #E4E4E4;
        font-weight: 400;
        
    }
    
    .contact_form-left input {
        color: white;
        font-size: var(--fs-s);
        margin-top: 10px;
        height: 54px;
        padding-left: 12px;
        width: 100%;
        border-radius: 12px;
        border: none;
        background: linear-gradient(45deg, rgba(200, 200, 200, 0.20) -27.11%, rgba(199, 181, 181, 0.089) 55.15%);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
    }
    
    .contact_form-left input:focus {
        outline: none;
        border: 1px solid #A1ED20;
    }
    
    .contact_form-left textarea {
        color: white;
        font-size: var(--fs-s);
        margin-top: 10px;
        height: 180px;
        padding: 12px;
        width: 100%;
        border-radius: 12px;
        border: none;
        background: linear-gradient(45deg, rgba(200, 200, 200, 0.20) -27.11%, rgba(199, 181, 181, 0.089) 55.15%);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
    }
    
    .contact_form-left textarea:focus {
        outline: none;
        border: 1px solid #A1ED20;
    }
    
    .contact_form-left .email-phone-div {
        display: flex;
        gap: 25px;
        width: 100%;
    
    }
    
    .email-phone-div .email-div {
        flex: 1;
    }
    
    .email-phone-div .phone-div {
        flex: 1;
    }
    
    .contact_form-left button {
        margin: auto;
        padding: 16px 48px;
        border-radius: 12px;
        background: #9BF00B;
        font-size: var(--fs-s);
        font-weight: 700;
        text-transform: uppercase;
        outline: none;
        border: none;
        
    }
    @media screen and (max-width: 767px) {
        .contact_form {
            padding: 24px;
        }
        .contact_form .contact_form-heading h1{
            font-size: var(--fs-l);
        }
        .contact_form .contact_form-heading h3 {
            font-size: var(--fs-m);
        }
    
        .contact_form .contact_form-heading h6 {
            font-size: var(--fs-xs);
            text-align: center;
        }
        .contact_form-left div label {
            font-size: var(--fs-xs);
        }
        .contact_form-left {
            width: 100%;
            padding: 0px 12px;
        }
    
        .email-phone-div {
            flex-direction: column;
            gap: 12px;
        }

    }

    @media (min-width: 48em) and (max-width: 64em) {
        .contact_form {
            padding: 2rem;
        }
    
        .contact_form .contact_form-heading h3 {
            font-size: var(--fs-xxl);
        }
    
        .contact_form .contact_form-heading h6 {
            font-size: var(--fs-m);
        }
        .contact_form-left {
            width: 70%;
            padding: 0px 1rem;
        }
    
        .email-phone-div {
            flex-direction: column;
            gap: 1rem;
        }
    }