
 .train h1{
  font-size: var(--fs-xxl);
  color: #9BF00B;
}
.train h2{
  font-size: var(--fs-l);
  color: white;
}
.train p{
  font-size: var(--fs-m);
}

/*flipcard*/
.flip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 8rem;
}

.flip-card {
  overflow: visible;
  width: 23rem;
  height: 20rem;
}

.flip-content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.flip-front, .flip-back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.flip-back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.flip-back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #9BF00B, #9BF00B, #9BF00B, #9BF00B, transparent);
}


.flip-back-flip-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: var(--fs-m);
  line-height: 150%;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}

.flip-svg {
  width: 5rem;
  height: 5rem;
}

.flip-card:hover .flip-content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
      transform: rotateZ(0deg);
  }
  100% {
      transform: rotateZ(360deg);
  }
}

.flip-front {
  transform: rotateY(180deg);
  color: white;
}

.flip-front .flip-front-flip-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flip-front-flip-content .flip-badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
  font-size: var(--fs-m);
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 600;
}

.flip-desc {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000048;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  font-weight: normal;
}

.flip-title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.flip-title p {
  width: 100%;
  
}

.flip-card-footer {
  color: #9BF00B;
  margin-top: 5px;
  font-size: var(--fs-s);
}

.flip-card-footer img {
  position: absolute;
  right: 0;
  bottom: 11px;
  width: 2rem;
  height: 2rem;
}

.flip-front .flip-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.flip-bottom {
  width: 100%;
  height: 100%;
  background-color:hsla(0,0%,100%,1);
  background-image:
  radial-gradient(at 40% 20%, hsla(25,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 80% 0%, hsla(0,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(352,0%,38%,1) 0px, transparent 50%),
  radial-gradient(at 80% 50%, hsla(340,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(16,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 80% 100%, hsla(240,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(342,0%,0%,1) 0px, transparent 50%);  background-size: cover;
  background-position: center;
  position: relative;
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-bottom p {
  position: relative;
  font-size: var(--fs-m);
  color: rgb(255, 255, 255);
  z-index: 1;
  font-weight: 500;
  text-align: center;
}

#flip-bottom {
  background-image: url('/Imagesequence/45.webp'); /* Replace with your image path */
  left: 50px;
  top: 0px;
  width: 100%;
  height: 150px;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* .training-section */
.training-section {
  background-color: #000000;
  text-align: center;
}

.training-section h2 {
  font-size: var(--fs-xxl);
  margin-bottom: 20px;
  color: #9BF00B;
  font-weight: 800;
}

.course-card-container {
  display: flex;
  flex-direction: column ;
  flex-wrap: wrap;
  justify-content: space-around;
}

.course-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #1d1d1d;
  border-radius: 10px;
  width: 100%;
  height: clamp(10vh, 70vh, 100vh);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('/assets/trainingBg.webp');
}

.course-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0);
  box-shadow:  8px 3px 25px rgba(136, 252, 5, 0.432);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.course-icon img {
  width: 5rem;
  height: 5rem;
}

.course-icon1, .course-icon2 {
  text-align: center;
  margin: 1rem;
}

.course-icon1 span, .course-icon2 span {
  color: #d4d4d4;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.course-card h3 {
  font-size: clamp(var(--fs-s), var(--fs-m), var(--fs-l));
  font-weight: 700;
  margin-bottom: 10px;
  color: #d4d4d4;
  margin-left: 0px;
}

.course-card p {
  font-size: var(--fs-s);
  color: #ffffff;
}

.course-icon p {
  font-size: var(--fs-xxl);
  color: #9BF00B;
  font-weight: 800;
}

.day-nav{
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}
.day-nav button{
  color: #d4d4d4;
  border: none;
  padding:.5em 1em;
  font-size: var(--fs-s);
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
}




.day-nav button.selected ,.day-nav button:hover{
  transition: all .5s ease-in-out;
  color: #9BF00B;
  border-radius: 2em;
  border: 1px solid rgba(255, 255, 255, 0.301);
}

.day-content{
  color: #d4d4d4;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;

}
.course-day-container{
  display: flex;
  flex-direction: column;

}

.course-day-details{
  display: flex;

  justify-content: space-evenly ;
  padding: 1em;
  width: 100%;
  gap: 1em;
  
}
.course-day-details-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:left;
  width:100%;
  
  /* border: 1px solid yellow; */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(9, 20, 16, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1em;
}

.course-day-details-box h3{
  color: #9BF00B;
  font-size: var(--fs-m);
  font-weight: 500;
  width: 100%;
  text-align:initial;
  /* border: 1px solid red; */
}

.course-day-details-box li{
  text-align: left;
  font-size: var(--fs-xs);
  line-height: 200%;
  color: #d4d4d4;
}
.course-day-details-box li svg{
  color:#9BF00B;
  margin-right: .5em
}





/* Media Queries for Mobile */
@media screen and (max-width: 767px) {
  
  
}

/* Media Queries for Mobile */
@media screen and (max-width: 767px)  {
  .flip-container {
      display: none;
  }
  .training-section {
      padding: 20px;
      text-align: center;
  }
  .training-section h2 {
    font-size: var(--fs-m);
  }
  .course-card-container {
      flex-direction: column;
      gap: 10px;
  }

  .course-card {
      height: auto;
      padding: 1rem;
  }

  .course-icon {
      flex-direction: row;
      gap: 10px;
  }

  .course-icon img {
      width: 3rem;
      height: 3rem;
  }

  .course-icon p {
      font-size: var(--fs-m);
  }

  .course-card h3 {
      font-size: var(--fs-s);
  }

  .course-card p {
      font-size: var(--fs-xs);
  }

  .day-nav button {
      font-size: var(--fs-xs);
      padding: 0.3em 0.6em;
  }

  .day-content {
      align-items: center;
      justify-content: center;
  }

  .course-day-container h2 {
      font-size: var(--fs-m);
  }

  .course-day-details {
      flex-direction: column;
      padding: 0.5em;
      align-items: center;
  }

  .course-day-details-box {
      width: 90%;
      padding: 0.5em;
  }

  .course-day-details-box h3 {
      font-size: var(--fs-xs);
  }

  .course-day-details-box li {
      font-size: var(--fs-xs);
  }
}

/* Media Queries for Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .training-section {
      padding: 30px;
      text-align: center;
  }

  .course-card-container {
      flex-direction: column;
      gap: 15px;
  }

  .course-card {
      height: auto;
      padding: 1rem;
      margin-bottom: 20px;
  }

  .course-icon {
      flex-direction: row;
      gap: 15px;
  }

  .course-icon img {
      width: 4rem;
      height: 4rem;
  }

  .course-icon p {
      font-size: var(--fs-l);
  }

  .course-card h3 {
      font-size: var(--fs-m);
  }

  .course-card p {
      font-size: var(--fs-s);
  }

  .day-nav button {
      font-size: var(--fs-xs);
      padding: 0.5em 0.8em;
  }

  .day-content {
      align-items: center;
      justify-content: center;
  }

  .course-day-details {
      flex-direction: column;
  }

  .course-day-details-box {
      width: 90%;
      padding: 0.8em;
  }

  .course-day-details-box h3 {
      font-size: var(--fs-s);
  }

  .course-day-details-box li {
      font-size: var(--fs-xs);
  }
  .training-section h2 {
    font-size: var(--fs-l);
    text-align: center;
  }
}

