.fc-tab-container{
background-color: #000000;
width: 100%;
height: 100%;
color: #d4d4d4;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}
.fc-index-container{
  background-color: #6e5c5c00;
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: center;
  top: 7.5%;
}
.fc-index {
  width: fit-content;
  position: relative;
}

.fc-index button {
  font-size: var(--fs-s);
  padding: 1em 2em;
  border: none;
  text-align: center;
  color: #d4d4d4;
  background-color: #00000000;
  position: relative;
  cursor: pointer;
}




.fc-tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: .2em;
  border-radius: 2em;
  transition: left .4s linear, width 0.4s linear; 
  background: lawngreen;
}


.fc-tab-indicator.active {
  left: var(--left);
  width: var(--width);
}

.fc-content {
  width: 99vw; 
  height: 100%; /* Adjusted to fill the viewport height */
  display: flex;
  flex-direction: column;
  /* padding: 1rem 13rem; */
  justify-content: flex-start; /* Changed to align content to the start */
}
.fc-box {
  display: flex;
  height: 100vh;
  
  scroll-snap-align: start; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: row-reverse;
  transition: all  5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.fc-pmu {
  flex-direction: row;
  background-image: url('/assets/PMU01.webp' );
}
.fc-fmu{
  background-image: url('/assets/FMU01.webp' );
}
.fc-gnss{
  background-image: url('/assets/GNSS01.webp' );
}


.fc-box-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 99vh;
  width: 50vw;
  padding: 0em 7em;
  margin: 0em 6em ;
}

.section-8{
  height: 100vh;
  color:#d4d4d4;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-8 h2{
  color: #d4d4d4;
  font-size: var(--fs-xxl);
  text-align: center;
  text-transform: uppercase;
  width: 70%;
  background: -webkit-linear-gradient(#4e4e4e, #ffffff, #000000); 
background: linear-gradient(#4e4e4e, #ffffff, #000000);
-webkit-background-clip: text; 
-moz-background-clip: text;
background-clip: text; 
-webkit-text-fill-color: transparent;
}


.fc-scroll-downs {

  margin: auto;
  width :34px;
  height: 55px;
  position: absolute;
  top: 18%;
  right: 0%;
  left: 0%;
}
.fc-scroll-downs.hide {
  opacity: 0;
  transition: opacity 0.1s ease;
  pointer-events: none;
}
.fc-mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.fc-scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
.section-9{
  position: relative;
  height: 100%;
}

.sec-9-card-container{
  position: relative;
 height: auto;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-bottom: 30%;
 /* border: 1px solid red; */
}

.section-9 h2{
  
  width: 99vw;
  position: sticky;
  text-align: center;
  top: 20%;
  bottom: 80%;
  transform: translateY(-10%);
  margin-bottom: 15%;
  color: #d4d4d4;
  font-size: var(--fs-xl);
  font-weight: 500;
  text-transform:uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-9-card {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  background-color: #000000;
  color: #d4d4d4;
  top: 30%; /* Adjusted for lower fixed deck */
  width: 50vw;
  height:20vh;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 1em;
  overflow: hidden;
  margin-top: 100px; /* Overlap cards slightly */
  transition: transform 1s ease-in-out, z-index 0.4s ease;
  z-index:- var(--card-stack-index);
  transform: translateY(calc(var(--card-z-index) * 45px));
  -webkit-box-shadow: 3px -3px 13px 0px rgba(61,61,61,1);
  -moz-box-shadow: 3px -3px 13px 0px rgba(61,61,61,1);
  box-shadow: 3px -3px 13px 0px rgba(61,61,61,1);
  /* border: 2px solid red; */
  padding: 1em 0rem ;
}




.sec-9-card-details{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content:space-between;
  border-bottom: 2px dashed #323232;
  /* border: 2px solid yellow; */
  padding-bottom: .3em;
}
.sec-9-card-details h4{
  width: 10%;
  font-size: var(--fs-s);
  display: flex;
  align-items:flex-start;
  justify-content: center;
  color: #9BF00B;
}
.sec-9-card-details h3{
  white-space-collapse:preserve-spaces;
  text-align: center;
  width: 100%;
  color: #d4d4d4;
  font-size: var(--fs-m);
  text-transform:uppercase;
  line-height: 100%;

}
.sec-9-card p{
  text-align: center;
  padding: 1em 2em;
  width: 100%;
}