.bat-sec-2{
    width: 99vw;
    height: 50vh;
    padding: 1em 13rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bat-sec-2 h2{
    text-align: center;
    color: #d4d4d4;
    font-size: var(--fs-xxl);
    padding: auto;
    text-transform: uppercase;
}

.bat-sec3-container {
    padding: 1em 13rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: auto;
    margin: 3em 0;
}
  
  .bat-sec3-content {
    max-width: 50%;
    flex: 2;
    margin: 0 auto;
    text-align: left;
  }
  
  .bat-sec3-title {
    font-size: var(--fs-xl);
    font-weight: bold;
    color: #9BF00B;
    margin-bottom: 15px;
  }
  
  .bat-sec3-description {
    font-size: var(--fs-s);
    color: #d4d4d4;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .bat-sec3-video-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 50%;

  }
  
  .bat-sec3-video {
    max-width: 100%;
    border-radius: 10px;
    outline: none;
  }
  .bat-sec3-points {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
  }
  
  .bat-sec3-point {
    font-size: 1rem;
    color: #d4d4d4;
    margin-bottom: 10px;
  }

  .bat-sec-4-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .bat-sec-4-content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  
  .bat-sec-4-title {
    font-size: var(--fs-xl);
    font-weight: bold;
    color: #9BF00B;
    margin-bottom: 15px;
  }
  
  .bat-sec-4-description {
    font-size: 1rem;
    color: #d4d4d4;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .bat-sec-4-tests {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
}

.bat-sec-4-test {
    font-size: var(--fs-s);
    color: #d4d4d4;
    margin-bottom: 1em;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  

  .bat-sec-4-test img{
    width: 1.5rem ;
    margin-right:.5em ;

  }  

  .bat-sec-5-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .bat-sec-5-content {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  
  .bat-sec-5-title {
    font-size: var(--fs-xl);
    font-weight: bold;
    color: #9BF00B;
    margin-bottom: 20px;
  }
  
  .bat-sec-5-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .bat-sec-5-card {
    flex: 1 1 calc(33% - 20px);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .bat-sec-5-card-title {
    font-size: var(--fs-m);
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.bat-sec-5-card-detail {
    font-size: var(--fs-s);
    color: #d4d4d4;
  }
  
.bat-sec-6 {
    padding: 1em 13rem;
    text-align: center;
  }
  
  .bat-sec-6-index {
    display: flex;
    justify-content: center;
    gap: 2em;
    font-weight: normal;
    text-transform: capitalize;
    font-size: var(--fs-m);
    color: #d4d4d4;
  }
  
  .bat-sec-6-index .s-active {
      color: #9BF00B;

    border-bottom: 1px solid #9BF00B;
  }
  
  .bat-sec-6-index-item {
    color: #d4d4d4;
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .bat-sec-6-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .bat-sec-6-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  
  .bat-sec-6-title {
    font-size: var(--fs-l);
    color: #9bf00b;
    text-align: left;
    margin-bottom: 1em;
  }
  
  .bat-sec-6-details {
    margin-bottom: 15px;
    max-width: 600px;
    color: #d4d4d4;
    line-height: 150%;
    text-align: left;
    padding-right: 1em;
    font-size: var(--fs-s);
    text-align: justify;
  }
  
  .bat-sec-6-image-container {
    position: relative;
    border-radius: 8px;
  }
  
  .bat-sec-6-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    transition: all 0.3s ease-in-out;
  }
  
  .bat-sec-6-image:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  
  .bat-sec-6-imageAlt {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
  }
  

  .bat-sec-7-container {
    padding: 1em 13rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 99vw;
  }
  
 
  
  .bat-sec-7-title {
    font-size: var(--fs-xxl);
    font-weight: bold;
    background: linear-gradient(to top, rgb(0, 116, 20),#9bf00b, #9bf00b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;    margin-bottom: 20px;
  }
  .bat-sec-7-context-container{
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
  }
  
  .bat-sec-7-video-wrapper {
    display: flex;
    flex: 2;
    justify-content: center;
    height: 100%;
    width: 50%;
  }
  
  .bat-sec-7-video {
    max-width: 100%;
    border-radius: 10px;
    outline: none;
  }
  .bat-sec-7-features {
    list-style: none;
    padding: 1em .5em;
    flex: 1;
    width: 100%;
  }
  
  .bat-sec-7-feature {
    font-size: var(--fs-s);
    color: #d4d4d4;
    margin: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    border: 1px solid #9bf00b;
    border-radius: 5px;
    background-color: #ffffff0a;
  }
  
  .bat-sec-7-icon {
    color: #9BF00B;
    font-size: var(--fs-m);
    margin-left: 5px;
  }
  
/* Section7 Styles */
.bat-sec-9 {
    height: 100%;
    color: #d4d4d4;
    display: flex;
    flex-direction: column;
    width: 99vw;
    padding: 1em 13rem;
  }
  
  .bat-sec-9 h2 {
    color: #9bf00b;
    font-size: var(--fs-xxl);
    background: linear-gradient(to top, rgb(0, 116, 20), #9bf00b, #9bf00b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .bat-sec-9 h2 span {
    color: #d4d4d4;
    background: linear-gradient(to top, rgb(38, 38, 38), #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .bat-sec-9-container {
    display: flex;
    width: 100%;
  }
  
  .bat-sec-9-index-container {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5em;
  }
  
  .bat-sec-9-index {
    display: flex;
    align-items: center;
    font-size: var(--fs-s);
    color: #ffffff;
    font-weight: 400;
  }
  
  .bat-sec-9-index svg {
    color: #9bf00b;
  }
  
  .bat-sec-9-index p {
    margin-left: 0.5em;
  }
  
  .agrActive p {
    color: #9bf00b;
  }
  
  .agrActive svg {
    color: white;
  }
  
  .bat-sec-9-detail-container {
    height: 50vh;
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    padding: 2em;
  }
  
  .bat-sec-9-detail-container::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 8rem;
    width: 40rem;
    background-color: #9cf00b63;
    z-index: -1;
    filter: blur(5em);
  }
  
  .bat-sec-9-detail {
    text-align: left;
    font-size: var(--fs-s);
    color: #ffffff;
    line-height: 200%;
    word-spacing: 3px;
  }
  
  
  .bat-sec-10-container {
    padding: 1em 13rem;
    text-align: center;
    border-radius: 10px;
  }
  
  .bat-sec-10-title {
    font-size: var(--fs-xxl);
    font-weight: bold;
    background: linear-gradient(to top, rgb(0, 116, 20),#9bf00b, #9bf00b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 20px;
  }
  .bat-sec-10-title span{
    background: linear-gradient(to top, rgb(0, 0, 0),#ffffff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .bat-sec-10-cards {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
    gap: 20px; 
    overflow-x: auto;
  }
  
  .bat-sec-10-card {
    flex: 0 0 45%; /* Each card takes 45% of the container width */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid orchid;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(21, 21, 21, 0.253);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: .5em;
  }
  
  
  .bat-sec-10-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  
  .bat-sec-10-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .bat-sec-10-drone {
    font-size: var(--fs-l);
    font-weight: bold;
    color: #9BF00B;
    margin-bottom: 10px;
  }
  
  .bat-sec-10-description {
    font-size: var(--fs-s);
    color: #d4d4d4;
    line-height: 1.5;
    text-align: justify;
  }
  

  /* Section12 Styles */
.bat-sec-11-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 13rem;
  background-attachment: fixed; 
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  background-image: url('/assets/batterybg.webp');
}

.bat-sec-11-content {
  max-width: 800px;
  color: white;
  position: relative;
}
.bat-sec-11-content-img{
  position: absolute;
  top: -10%;
  left: 25%;
  width: 50%;
  filter: invert(1);
  opacity: .2;
  z-index: -2;
  object-fit: contain;
}
.bat-sec-11-headline {
  font-size: var(--fs-xl);
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
  text-shadow: 2px 2px 5px #9BF00B;
}

.bat-sec-11-subtext {
  font-size: var(--fs-s);
  margin-bottom: 40px;
  color: #000000;
  font-weight: 500;
}

.bat-sec-11-subtext span {
  color: #9BF00B;
}

.bat-sec-11-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.bat-sec-11-button {
  padding: .5em;
  font-size: 1rem;
  color:rgb(255, 249, 249);
  background:black;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.bat-sec-11-button:hover {
  background:rgba(0, 0, 0, 0.212);
  border: 1px solid #9BF00B;
  transform: scale(1.05); 
  color: #9BF00B;

}






  


  /* Mobile View for Section2 */
@media screen and (max-width: 768px) {
  .bat-sec-2 {
    width: 100vw;
    height: auto;
    padding: 1em;
    flex-direction: column;
  }

  .bat-sec-2 h2 {
    font-size: var(--fs-l);
    padding: 0;
  }

  .bat-sec3-container {
    flex-direction: column;
    padding: 1em;
    height: auto; 
  }

  .bat-sec3-content {
    max-width: 100%;
    text-align: center; 
  }

  .bat-sec3-title {
    font-size: var(--fs-l);
    margin-bottom: 10px;
  }

  .bat-sec3-description {
    font-size: var(--fs-s); 
    line-height: 1.5; 
    margin-bottom: 15px;
  }

  .bat-sec3-points {
    margin: 15px 0;
    text-align: center; 
  }

  .bat-sec3-point {
    font-size: var(--fs-xs); 
    margin-bottom: 8px;
  }

  .bat-sec3-video-wrapper {
    width: 100%; 
    margin-top: 15px; 
  }

  .bat-sec3-video {
    max-width: 100%; 
    height: auto;
  }
  .bat-sec-4-container {
    padding: 1em;
    text-align: center;
  }

  .bat-sec-4-content {
    max-width: 100%;
    text-align: center; 
  }

  .bat-sec-4-title {
    font-size: var(--fs-l); 
    margin-bottom: 10px;
  }

  .bat-sec-4-description {
    font-size: var(--fs-s);
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .bat-sec-4-tests {
    text-align: left;
  }
  .bat-sec-4-test strong{
    
    display: inline-block;
  white-space: nowrap;
  }
  .bat-sec-4-test {
    font-size: var(--fs-xs); 
    text-align: left;
    display: inline-block;

  }

  .bat-sec-4-test img {
    width: 1rem; 
    margin-right: 0.5em;
  }

  .bat-sec3-video-wrapper {
    margin-top: 15px; 
    width: 100%; 
  }

  .bat-sec3-video {
    max-width: 100%;
    border-radius: 5px; 
  }
  .bat-sec-5-container {
    padding: 1em; 
    text-align: center; 
  }

  .bat-sec-5-content {
    max-width: 100%;
    text-align: center;
  }

  .bat-sec-5-title {
    font-size: var(--fs-l); 
    margin-bottom: 15px; 
  }

  .bat-sec-5-cards {
    flex-direction: column; 
    gap: 15px; 
    align-items: center;
  }

  .bat-sec-5-card {
    flex: 1;
    padding: 1em; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 70%;
  }

  .bat-sec-5-card-title {
    font-size: var(--fs-s); 
    margin-bottom: 5px;
  }

  .bat-sec-5-card-detail {
    font-size: var(--fs-s); 
    line-height: 1.5;
  }
  .bat-sec-6 {
    padding: 1em;
    text-align: center;
  }


  

  
  
  .bat-sec-6-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1em;
  }

  .bat-sec-6-index-item {
    font-size: var(--fs-s);
    color: #d4d4d4;
    padding: 0.5em 1em;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }

  .bat-sec-6-index-item.s-active {
    
    font-weight: 600;
  }

  .bat-sec-6-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .bat-sec-6-title {
    font-size: var(--fs-m);
    color: #9bf00b;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .bat-sec-6-details {
    font-size: var(--fs-s);
    color: #d4d4d4;
    line-height: 1.5;
    text-align: justify;
    padding: 0 1em;
  }

  .bat-sec-6-image {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin: 0 auto;
  }

  .bat-sec-6-image:hover {
    opacity: 1;
  }

  .bat-sec-7-container {
    padding: 1em;
  }

  .bat-sec-7-title {
    font-size: var(--fs-l);
    text-align: center;
    margin-bottom: 1em;
  }

  .bat-sec-7-context-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
  }

  .bat-sec-7-video-wrapper {
    width: 100%;
    max-width: 90%; 
    margin-bottom: 1.5em;
  }

  .bat-sec-7-video {
    width: 100%;
    border-radius: 5px;
  }

  .bat-sec-7-features {
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .bat-sec-7-feature {
    font-size: var(--fs-s);
    gap: 0.5em;
    margin: 0.5em 0;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .bat-sec-7-icon {
    font-size: var(--fs-m);
  }
.bat-sec-8-context-container{
  flex-direction: column-reverse;
}
  .bat-sec-9 {
      padding: 2em 0em;
      flex-direction: column;
      align-items: center;
      width: 99vw;
    }
  
    .bat-sec-9-detail-container::before {
      display: none;
    }
  
    .bat-sec-9 h2 {
      font-size: var(--fs-l);
      text-align: center;
      margin-bottom: 1em;
    }
  
    .bat-sec-9-container {
      flex-direction: column;
      gap: 20px;
    }
  
    .bat-sec-9-index-container {
      margin: 1em;
      align-items: start;
      gap: 10px;
      width: max-content;
    }
  
    .bat-sec-9-index p{
      font-size: var(--fs-s);
      gap: 5px;
      text-align: left;
      width: max-content;
    }
  
    .bat-sec-9-index svg {
      font-size: var(--fs-s);
    }
  
    .bat-sec-9-detail-container {
      height: auto;
      padding: 1em;
    }
  
    .bat-sec-9-detail {
      font-size: var(--fs-xs);
      text-align: center;
      line-height: 1.5;
    }
    .bat-sec-10-container {
      padding: 1rem;
    }
  
    .bat-sec-10-title {
      font-size: var(--fs-l);
      line-height: 1.4;
      text-align: center;
    }
  
    .bat-sec-10-cards {
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
  
    .bat-sec-10-card {
      flex: 1;
      max-width: 90%; 
      border: 1px solid #ccc;
      padding: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 1rem; 
    }
  
    .bat-sec-10-image {
      max-height: 150px;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  
    .bat-sec-10-description {
      font-size: var(--fs-xs);
      text-align: left;
      line-height: 1.5;
    }
    .bat-sec-11-container {
      padding: 1.5rem 1rem;
      background-size: cover;
      background-position: center;
    }
  
    .bat-sec-11-content {
      max-width: 100%;
    }
  
    .bat-sec-11-headline {
      font-size: var(--fs-m);
      margin-bottom: 15px;
    }
  
    .bat-sec-11-subtext {
      font-size: var(--fs-s);
      margin-bottom: 20px;
    }
  
    .bat-sec-11-buttons {
      flex-direction: row;
      gap: 10px;
      font-size: var(--fs-s);
    }
  
    .bat-sec-11-button {
      padding: 0.2em 0.5em;
      font-size: 0.9rem;
      width: 30%;
    }
}

/* Tablet View for Section2 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bat-sec-2 {
    width: 100vw;
    height: auto;
    padding: 2em;
    flex-direction: column;
  }

  .bat-sec-2 h2 {
    font-size: var(--fs-xl);
    padding: 0;
  }

  .bat-sec3-container {
    padding: 2em;
    flex-direction: column;
    align-items: center;
  }

  .bat-sec3-content {
    max-width: 80%;
    text-align: center;
  }

  .bat-sec3-title {
    font-size: var(--fs-xl); 
    margin-bottom: 12px;
  }

  .bat-sec3-description {
    font-size: var(--fs-s);
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
  }

  .bat-sec3-points {
    margin: 20px 0;
    text-align: left;
  }

  .bat-sec3-point {
    font-size: var(--fs-s); 
    margin-bottom: 10px;
  }

  .bat-sec3-video-wrapper {
    width: 100%; 
    margin-top: 20px;
    
  }

  .bat-sec3-video {
    max-width: 90%; 
    height: auto;
  }
  .bat-sec-4-container {
    padding: 2em;
    text-align: center;
  }

  .bat-sec-4-content {
    max-width: 90%;
    text-align: center;
  }

  .bat-sec-4-title {
    font-size: var(--fs-xl);
    margin-bottom: 12px;
  }

  .bat-sec-4-description {
    font-size: var(--fs-s); 
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
  }

  .bat-sec-4-tests {
    margin: 20px 0;
    text-align: center;
  }

  .bat-sec-4-test {
    font-size: var(--fs-s); 
    margin-bottom: 15px;
    justify-content: left;
  }

  .bat-sec-4-test img {
    width: 1.2rem; 
    margin-right: 0.7em;
  }

 
  .bat-sec3-video {
    max-width: 90%; 
    border-radius: 10px;
  }
  .bat-sec-5-container {
    padding: 2em; 
    text-align: center;
  }

  .bat-sec-5-content {
    max-width: 90%;
    text-align: center;
  }

  .bat-sec-5-title {
    font-size: var(--fs-xl); 
    margin-bottom: 20px;
  }

  .bat-sec-5-cards {
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
  }

  .bat-sec-5-card {
    flex: 1 1 calc(50% - 20px); 
    padding: 1em; 
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .bat-sec-5-card-title {
    font-size: var(--fs-m); 
    margin-bottom: 8px;
  }

  .bat-sec-5-card-detail {
    font-size: var(--fs-s);
    line-height: 1.6; 
  }

  .bat-sec-6 {
    padding: 2em 13rem;
    text-align: center;
  }
  
  .bat-sec-6-index {
    display: flex;
    justify-content: center;
    gap: 2em;
    font-size: var(--fs-m);
    font-weight: bold;
    color: #d4d4d4;
  }
  
  .bat-sec-6-index-item {
    cursor: pointer;
    padding: 0.5em 1em;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  
  .bat-sec-6-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    text-align: left;
  }
  
  .bat-sec-6-title {
    font-size: var(--fs-xl);
    color: #9bf00b;
    margin-bottom: 1em;
  }
  
  .bat-sec-6-details {
    font-size: var(--fs-s);
    color: #d4d4d4;
    line-height: 1.6;
    text-align: justify;
    max-width: 600px;
  }
  
  .bat-sec-6-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .bat-sec-6-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .bat-sec-6-image:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }

  .bat-sec-6 {
    padding: 2em;
    text-align: left;
  }

  .bat-sec-6-index {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1.5em;
  }

  .bat-sec-6-index-item {
    font-size: var(--fs-s);
    color: #d4d4d4;
    padding: 0.5em 1.5em;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }

  .bat-sec-6-index-item.s-active {
    font-weight: 600;
  }

  .bat-sec-6-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
  }

  .bat-sec-6-title {
    font-size: var(--fs-l);
    color: #9bf00b;
    margin-bottom: 1em;
  }

  .bat-sec-6-details {
    font-size: var(--fs-s);
    color: #d4d4d4;
    line-height: 1.75;
  }

  .bat-sec-6-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .bat-sec-6-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
  }

  /* Tablet View Adjustments for Section7 */
  /* .agr16-sec-7 {
    padding: 3em 2rem; 
    flex-direction: row; 
    align-items: flex-start;
  }

  .agr16-sec-7 h2 {
    font-size: var(--fs-xl); 
    text-align: left; 
  }

  .agr16-sec-7-container {
    flex-direction: row; 
    gap: 30px; 
  }

  .agr16-sec-7-index-container {
    margin: 0;
    align-items: flex-start; 
    gap: 15px; 
  }

  .agr16-sec-7-index {
    font-size: var(--fs-s);
    gap: 10px;
  }

  .agr16-sec-7-index svg {
    font-size: var(--fs-m); 
  }

  .agr16-sec-7-detail-container {
    height: auto; 
    padding: 2em; 
  }

  .agr16-sec-7-detail {
    font-size: var(--fs-s); 
    text-align: justify;
    line-height: 1.75; 
  } */
  .bat-sec-7-container {
    padding: 2em;
  }

  .bat-sec-7-title {
    font-size: var(--fs-xl);
    text-align: center;
    margin-bottom: 1.5em;
  }

  .bat-sec-7-context-container {
    flex-direction: row;
    gap: 2em;
  }

  .bat-sec-7-video-wrapper {
    flex: 1;
    width: 60%;
  }

  .bat-sec-7-video {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .bat-sec-7-features {
    flex: 1;
    width: 30%;
    list-style: none;
    padding: 0;
  }

  .bat-sec-7-feature {
    font-size: var(--fs-s);
    gap: 1em;
    padding: .2em;
    background-color: #ffffff0a;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: .5em;
  }

  .bat-sec-9 {
    padding: 2rem;
    flex-direction: column; 
    align-items: center;
  }
  
  .bat-sec-9 h2 {
    font-size: var(--fs-xl);
    text-align: left;
  }
  
  .bat-sec-9-container {
    flex-direction: row;
    gap: 30px;
  }
  
  .bat-sec-9-index-container {
    margin: 0;
    align-items: flex-start;
    gap: 15px; 
  }
  
  .bat-sec-9-index {
    font-size: var(--fs-s); 
    gap: 10px;
  }
  
  .bat-sec-9-index svg {
    font-size: var(--fs-m);
  }
  
  .bat9-sec-9-detail-container {
    height: auto;
    padding: 2em;
  }
  
  .bat-sec-9-detail {
    font-size: var(--fs-s);
    text-align: justify;
    line-height: 120%;
    font-weight: 300 ;
  }
  .bat-sec-10-container {
    padding: 2rem;
  }

  .bat-sec-10-title {
    font-size: var(--fs-xl);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .bat-sec-10-cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 1.5rem;
  }

  .bat-sec-10-card {
    flex: 1 1 calc(45% - 1rem);
    border: 1px solid #ccc;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s;
  }

  .bat-sec-10-card:hover {
    transform: scale(1.02);
  }

  .bat-sec-10-image {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .bat-sec-10-description {
    font-size: var(--fs-s);
    line-height: 1.6;
    margin-top: 1rem;
    text-align: justify;
  }
  .bat-sec-11-container {
    padding: 2em;
  }

  .bat-sec-11-content {
    max-width: 90%;
  }

  .bat-sec-11-headline {
    font-size: var(--fs-l);
    margin-bottom: 20px;
  }

  .bat-sec-11-subtext {
    font-size: var(--fs-s);
    margin-bottom: 30px;
  }

  .bat-sec-11-buttons {
    gap: 15px;
  }

  .bat-sec-11-button {
    padding: 10px 20px;
    font-size: 1rem;
  }
  
}
