.ex-01-slider {
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ex-01-slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  position: relative;
  height: 1000px; 
}

/* Base slide styling */
.ex-01-slide {
  position: absolute;
  width: 50%;
  transition: transform 0.5s ease-in-out, opacity .1s ease-in-out;
  /* Default non-active state */
  opacity: 0;
  transform: scale(0.8);
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
}

/* Previous slide: shifted to the left */
.ex-01-slide--prev {
  transform: translateX(-100%) scale(0.8);
  opacity: 0.5;
  z-index: 1;
  transition: transform 0.5s ease-in-out, opacity .7s ease-in-out;

}

/* Current slide: centered, scaled up */
.ex-01-slide--current {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 2;
}

/* Next slide: shifted to the right */
.ex-01-slide--next {
  transform: translateX(100%) scale(0.8);
  transition: transform 0.5s ease-in-out, opacity .7s ease-in-out;
  opacity: 0.5;
  z-index: 1;
}

/* Styling for slide videos */
.ex-01-slide__video-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.ex-01-slide__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content overlay on slides */
.ex-01-slide__content {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.ex-01-slide--current .ex-01-slide__headline{
  opacity: 1;
}
/* Headline styling */
.ex-01-slide__headline {

  opacity: 0;
  font-size: var(--fs-l);
  margin: 0;
  font-weight: 500;
}

/* Action buttons inside slides */
.ex-01-slide__action {
  background: #ff6600;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
}

.ex-01-slide__action:hover {
  background: #cc5200;
}

/* Navigation Controls */
.ex-01-slider__controls {
  position: absolute;
  top: 50%;
  z-index: 2;
  left: 50%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transform: translate(-50%,-50%);
  width: 60%;
  justify-content: space-between;
}

.ex-01-btn {
  background: #33333300;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 10px;
  border-radius: 5px;
}
.ex-01-btn  svg{
  font-size: var(--fs-l);
  color: white;
}

.ex-01-btn svg:hover {
  color: #555;
}
