  /* ############ Section1 ############ */
  .xag-30-high-container {
    background-color: #00000000;
    text-align: center;
    padding: 4rem 2rem;
  }
  
  /* Cards Container */
  .xag-30-high-cards-container {
    padding: 2rem;
    box-sizing: border-box;
  }
  
  /* Grid Layout */
  .xag-30-high-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    
  }
  
  /* Header Block */
  .xag-30-high-header {
    background: #000000;
    border: 1px solid #1a1a1a;
    border-radius: 16px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Title inside Header */
  .xag-30-high-title {
    font-size: var(--fs-xl);
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: left;
    
  }
  .xag-30-high-title span{
    background: linear-gradient(180deg, #9BF00B, #9BF00B, #00580f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .xag-30-high-header-line {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,black, #00580f, #9BF00B, #00580f ,black) ;
    margin: 1rem 0;
    border-radius: 2px;
  }
  
  /* Description inside Header */
  .xag-30-high-desc {
    text-align: left;
    font-size: var(--fs-s);
    color: #d4d4d4;
  }
  
  /* Common Card Style */
  .xag-30-high-card {
    background: linear-gradient(180deg, #9cf00b00, #9cf00b00,#9cf00b00,#9cf00b30,#9cf00b73, #9BF00B);
    border: 1px solid #a5a5a5;
    border-radius: 16px;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    position: relative;
  }
  
  /* Card hover effect */
  .xag-30-high-card:hover {
    transform: translateY(-5px);
  }
  
  /* Number Badge */
  .xag-30-high-card-number {
      position: absolute;
      top: 0;
      left: 0;
      color: #9BF00B;
      font-weight: bold;
      font-size: var(--fs-m);
      padding: 6px 10px;
      border-radius: 50%;
    }
    /* Top Section (Number + Icon) */
    .xag-30-high-card-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      position: relative;
    }
    
  
  /* Icon */
  .xag-30-high-card-icon {
      color: #ffffff;
    height: 100%;
    width: 100%;
    }
    .xag-30-high-card-icon img{
      width: 100%;
      height: 100%;
  }
  
  .xag-30-high-card-line {
    width: 50%;
    height: 2px;
    background: #ffffff;
    margin: 1rem 0;
  }
  
  .xag-30-high-card-title {
    font-size: var(--fs-s);
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #ffffff;
  }
  
  .xag-30-high-card-desc {
    font-size: var(--fs-s);
    color: #d0ffd0;
  }
  

  .xag-30-high-grid > .xag-30-high-card:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 1;
  }
  .xag-30-high-grid > .xag-30-high-card:nth-child(3) {
    grid-column: 4 / span 1;
    grid-row: 1;
  }
  
  /* Place remaining four cards */
  .xag-30-high-grid > .xag-30-high-card:nth-child(4) {
    grid-column: 1 / span 1;
    grid-row: 3;
  }
  .xag-30-high-grid > .xag-30-high-card:nth-child(5) {
    grid-column: 2 / span 1;
    grid-row: 3;
  }
  .xag-30-high-grid > .xag-30-high-card:nth-child(6) {
    grid-column: 3 / span 1;
    grid-row: 3;
  }
  .xag-30-high-grid > .xag-30-high-card:nth-child(7) {
    grid-column: 4 / span 1;
    grid-row: 3;
  }
  

  /* ############ Section2 ############ */
  .xag30-about-section {
    background-color: transparent;
    padding: 3rem 5rem;
    text-align: center;
  }
  
  .xag30-about-container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .xag30-impact-icon{
    position: absolute;
    left: 0%;
    top: 0%;
    font-size: var(--fs-xl);
    width: 10%;
    opacity: 0.2;
    z-index: -1;
}

  
  .xag30-about-description {
    font-size: 1.2rem;
    color: #d4d4d4;
    line-height: 1.6;
  }
  .xag30-about-description  span{
    background: linear-gradient(180deg, #9BF00B, #9BF00B, #00580f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
  }




  
  /* ########## section 3 ########## */
  .xag30-specs-section {
    background-color: #0f0f0f00;
    padding: 4rem 2rem;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .xag30-specs-section::before,
.xag30-specs-section::after {
  content: '';
  position: absolute;
  width: 800px;
  height: 800px;
  filter: blur(150px);
  z-index: -1;
}

.xag30-specs-section::before {
    top: 10%;
    background: radial-gradient(circle, rgba(155, 240, 11, 0.3) 0%, transparent 80%);
  left: -20%;
  height: 1000px;
  width: 1200px;
  transform: rotate(60deg);
}

.xag30-specs-section::after {
    background: radial-gradient(circle, rgba(141, 247, 42, 0.842) 0%, transparent 80%);
  bottom: 10%;
  right: -10%;
  height: 500px;
  width: 1200px;
  transform: rotate(60deg);
}
  .xag30-specs-container {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .xag30-specs-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #9BF00B;
    margin-bottom: 2rem;
  }
  
  .xag30-specs-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    border-collapse:separate ;
    border-spacing: 10px;
  }
  .xag30-specs-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; /* vertical gap between rows */
  }
  
  .xag30-specs-table td {
    padding: 1rem 1.5rem;
 
    color: #333;
    font-size: 1rem;
    background: rgba(305, 305, 305, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(305, 305, 305, 0);
    color: #ffffff;
  }
  
  .xag30-specs-table th {
    padding: 1rem 1.5rem;
    background-color: #d4d4d4;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
  }
  
  .xag30-specs-table tr:hover {
    background-color: rgba(155, 240, 11, 0.05);
  }
  
  /* Optional: Specific styling */
  .xag30-specs-feature, 
  .xag30-specs-detail, 
  .xag30-specs-notes {
    text-align: left;
  }
  
  /* ########## section 4 ########## */

  .xag30-usecases-section {
    background-color: #0f0f0f;
    padding: 4rem 2rem;
    position: relative;
    overflow: hidden;
  }
  
  .xag30-usecases-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  
  .xag30-usecases-title {
    font-size:var(--fs-xl);
    font-weight: 700;
    color: #9BF00B;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .xag30-usecase-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    flex-wrap: wrap;
  }
  
  .xag30-usecase-row.even {
    flex-direction: row-reverse;
  }
  
  .xag30-usecase-video {
    flex: 60%;
    min-width: 400px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .xag30-usecase-video video,
  .xag30-usecase-video img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
  }
  
  .xag30-usecase-video img:hover {
    transform: scale(1.05);
  }
  
  .xag30-usecase-content {
    flex: 40%;
  min-width: 300px;
  padding: 2rem;
  border-radius: 16px;
  background: rgba(26, 26, 26, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, 
  #9BF00B 0%, 
  black 20%, 
  black 80%, 
  #9BF00B 100%
) 1;  border-image-slice: 1;
  }
  
  .xag30-usecase-title {
    font-size: var(--fs-m);
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1rem;
    background: linear-gradient(200deg, rgb(38, 38, 38), #ffffff, #ffffff);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .xag30-usecase-description {
    font-size:var(--fs-s);
    color: #d4d4d4;
    line-height: 1.6;
  }
  
  /* Responsive adjustment */
  @media (max-width: 768px) {
    .xag30-usecase-row {
      flex-direction: column !important;
    }
  
    .xag30-usecase-video,
    .xag30-usecase-content {
      width: 100%;
      text-align: center;
    }
  }
  
  /* ################################### section 5 ########################################## */

  .xag30-intro-section {
    width: 100%;
    height: 100vh;
    background: url('/assets/xag30/2.webp') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .xag30-intro-text-container {
    max-width: 800px;
    padding: 2rem;
    border-radius: 20px;
    position: absolute;
    left: 0%;
    text-align: left;
    overflow: hidden;
  }

  @font-face {
    font-family: 'Sprintura';
    src: url('/assets/xag30/Sprintura.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  .xag30-intro-main {
    font-family: 'Sprintura';
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 100%;
    background: linear-gradient(0deg, #0091bd,#0091bd, #ffffff, #f5f5f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* font-style: italic; */
  }
  
  
  .xag30-intro-subtitle {
    font-size: var(--fs-l);
    color: #d4d4d4;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .xag30-intro-main {
      font-size: 2.2rem;
    }
  
    .xag30-intro-subtitle {
      font-size: 1.2rem;
    }
  }
  
  
    /* ########## section 6 ########## */

    .xag30-cta-section {
      background-color: transparent;
      padding: 5rem 2rem;
      text-align: center;
    }
    
    .xag30-cta-container {
      max-width: 900px;
      margin: 0 auto;
    }
    
    .xag30-cta-title {
      font-size: 2.8rem;
      font-weight: 700;
      color: #9BF00B;
      margin-bottom: 1.5rem;
    }
    
    .xag30-cta-subtext {
      font-size: var(--fs-s);
      color: #d4d4d4;
      margin-bottom: 3rem;
    }
    
    .xag30-cta-buttons {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      flex-wrap: wrap;
    }
    
    .xag30-cta-button {
      padding: 0.5rem 1rem;
      font-size: var(--fs-s);
      font-weight: 500;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    
    .xag30-cta-button.primary {
      background-color: #9BF00B;
      color: #0f0f0f;
    }
    
    .xag30-cta-button.primary:hover {
      background-color: #7fc000;
    }
    
    .xag30-cta-button.secondary {
      background-color: transparent;
      color: #9BF00B;
      border: 2px solid #9BF00B;
    }
    
    .xag30-cta-button.secondary:hover {
      background-color: #9BF00B;
      color: #0f0f0f;
    }
    
    @media (max-width: 768px) {
      .xag30-cta-title {
        font-size: 2.2rem;
      }
    
      .xag30-cta-subtext {
        font-size: 1.2rem;
      }
    }
    
    /* #################################################### section7 ######################################################  */


    .xag30-gallery-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.xag30-gallery-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 10%;
  height: 100vh;
  box-sizing: border-box;
  justify-content: center;
  z-index: 2;
}

.xag30-gallery-thumb {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s ease;
  background: #fff;
}

.xag30-gallery-thumb.active {
  border: 2px solid #00bcd4;
  background-color: #9BF00B;
  transform: scale(1.05) translateX(15px);
}

.xag30-gallery-right {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.xag30-gallery-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 10px;
  margin: 1em;
  background-image: linear-gradient(
    300deg,
    rgb(305, 305, 305),
    rgb(216, 216, 216),
    rgb(185, 185, 185)
  );
}
    /* #################################################### section7 ######################################################  */

    .xag30-fea-container {
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1em;
}

.xag30-fea-block {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  width: 70%;
  height: 70%;
  border: 1p;
}

.xag30-fea-video {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.xag30-fea-heading {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: var(--fs-m); 
  z-index: 2;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
}
